Repository BinaryStudioAcademy/bsa-2024-bebalance, pull requests merged in 2024-09, with the labels that each got.

#259 feat(mobile): requirements for authorization pages bb-210
  apps/mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  apps/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  packages/shared/src/modules/users/libs/enums/enums.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-regex-rule.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: mobile, shared

#264 feat(frontend): sign-out functionality bb-241
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/sign-out.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
Labels: frontend

#270 feat(mobile): custom tag component bb-198
  apps/mobile/src/libs/components/background-wrapper/background-wrapper.tsx
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/planet/libs/maps/color-to-gradient-colors.ts
  apps/mobile/src/libs/components/planet/libs/maps/maps.ts
  apps/mobile/src/libs/components/planet/libs/maps/size-to-styles.ts
  apps/mobile/src/libs/components/planet/planet.tsx
  apps/mobile/src/libs/components/tag/styles.ts
  apps/mobile/src/libs/components/tag/tag.tsx
  apps/mobile/src/libs/components/text/libs/maps/preset-to-style-map.ts
  apps/mobile/src/libs/maps/color-to-gradient-colors/color-to-gradient-colors.map.ts
  apps/mobile/src/libs/maps/maps.ts
  apps/mobile/src/screens/tasks/tasks.tsx
Labels: mobile

#254 feat(mobile): balance wheel animated graph bb-196
  apps/mobile/package.json
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/wheel/libs/components/animated-sector/animated-sector.tsx
  apps/mobile/src/libs/components/wheel/libs/components/components.tsx
  apps/mobile/src/libs/components/wheel/libs/components/label-on-circle/label-on-circle.tsx
  apps/mobile/src/libs/components/wheel/libs/enums/enums.ts
  apps/mobile/src/libs/components/wheel/libs/enums/label-coefficient.enum.ts
  apps/mobile/src/libs/components/wheel/libs/enums/wheel-setting.enum.ts
  apps/mobile/src/libs/components/wheel/libs/helpers/get-circumference-point-coordinates/get-circumference-point-coordinates.helper.ts
  apps/mobile/src/libs/components/wheel/libs/helpers/get-radians-from-percent/get-radians-from-percent.helper.ts
  apps/mobile/src/libs/components/wheel/libs/helpers/get-sector-parameters/get-sector-parameters.helper.ts
  apps/mobile/src/libs/components/wheel/libs/helpers/get-wheel-category-parameters/get-wheel-category-parameters.helper.ts
  apps/mobile/src/libs/components/wheel/libs/helpers/helpers.ts
  apps/mobile/src/libs/components/wheel/wheel.tsx
  apps/mobile/src/libs/hooks/hooks.ts
  apps/mobile/src/libs/types/types.ts
  apps/mobile/src/libs/types/wheel/wheel-data-item.type.ts
  apps/mobile/src/libs/types/wheel/wheel.ts
  apps/mobile/src/screens/wheel/wheel.tsx
  package-lock.json
Labels: mobile, root

#273 fix(frontend): evened out header with sidebar logo bb-252
  apps/frontend/src/libs/components/sidebar/styles.module.css
  package-lock.json
Labels: frontend, root

#274 fix(frontend): moved AuthWrapper from protected route into Root component bb-258
  apps/frontend/src/libs/components/protected-route/libs/constants/constants.ts
  apps/frontend/src/libs/components/protected-route/libs/constants/routes-without-auth-wrapper.constant.ts
  apps/frontend/src/libs/components/protected-route/libs/helpers/check-has-auth-wrapper.helper.ts
  apps/frontend/src/libs/components/protected-route/libs/helpers/helpers.ts
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
Labels: frontend

#283 feat(frontend): added token expiration handling bb-279
  apps/backend/src/libs/plugins/authorization-plugin/authorization-plugin.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/modules/store/handle-error.middleware.ts
  package-lock.json
Labels: frontend, backend, root

#211 feat(frontend/backend/shared): onboarding questions screen bb-134
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/libs/types/repository.type.ts
  apps/backend/src/modules/onboarding/libs/types/types.ts
  apps/backend/src/modules/onboarding/onboarding-answer.entity.ts
  apps/backend/src/modules/onboarding/onboarding-question.entity.ts
  apps/backend/src/modules/onboarding/onboarding.controller.ts
  apps/backend/src/modules/onboarding/onboarding.repository.ts
  apps/backend/src/modules/onboarding/onboarding.service.ts
  apps/frontend/src/assets/img/check-icon.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/proggress-bar/progress-bar.tsx
  apps/frontend/src/libs/components/proggress-bar/styles.module.css
  apps/frontend/src/libs/components/quiz-question/quiz-question.tsx
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/libs/types/form-field-properties.type.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/libs/types/radio-input-option.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/onboarding/libs/enums/enums.ts
  apps/frontend/src/modules/onboarding/libs/types/types.ts
  apps/frontend/src/modules/onboarding/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/onboarding/onboarding-api.ts
  apps/frontend/src/modules/onboarding/onboarding.ts
  apps/frontend/src/modules/onboarding/slices/actions.ts
  apps/frontend/src/modules/onboarding/slices/onboarding.slice.ts
  apps/frontend/src/modules/onboarding/slices/onboarding.ts
  apps/frontend/src/pages/onboarding/libs/components/components.ts
  apps/frontend/src/pages/onboarding/libs/components/onboarding-answer/onboarding-answer.tsx
  apps/frontend/src/pages/onboarding/libs/components/onboarding-answer/styles.module.css
  apps/frontend/src/pages/onboarding/libs/constants/constants.ts
  apps/frontend/src/pages/onboarding/libs/constants/onboarding-form-default-values.contant.ts
  apps/frontend/src/pages/onboarding/libs/types/onboarding-form-values.type.ts
  apps/frontend/src/pages/onboarding/libs/types/types.ts
  apps/frontend/src/pages/onboarding/onboarding.tsx
  apps/frontend/src/pages/onboarding/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/quiz-form/quiz-form.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constant.ts
  packages/shared/src/libs/constants/previous-index-offset.constant.ts
  packages/shared/src/libs/constants/zero-index.constant.ts
  packages/shared/src/modules/onboarding/libs/enums/enums.ts
  packages/shared/src/modules/onboarding/libs/enums/onboarding-api-path.enum.ts
  packages/shared/src/modules/onboarding/libs/enums/onboarding-validation-message.enum.ts
  packages/shared/src/modules/onboarding/libs/enums/onboarding-validation-rule.enum.ts
  packages/shared/src/modules/onboarding/libs/types/onboarding-get-all-questions-response-dto.type.ts
  packages/shared/src/modules/onboarding/libs/types/onboarding-question-response-dto.type.ts
  packages/shared/src/modules/onboarding/libs/types/ondoarding-question-request-dto.ts
  packages/shared/src/modules/onboarding/libs/types/types.ts
  packages/shared/src/modules/onboarding/libs/validation-schemas/one-answer-selected.validation-schema.ts
  packages/shared/src/modules/onboarding/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/onboarding/onboarding.ts
Labels: frontend, backend, shared

#291 fix(backend): incorrect time comparison when validating token bb-279
  apps/backend/src/libs/plugins/authorization-plugin/authorization-plugin.ts
  apps/backend/src/libs/plugins/authorization-plugin/libs/constants/constants.ts
  apps/backend/src/libs/plugins/authorization-plugin/libs/constants/one-thousand-milliseconds.constant.ts
Labels: backend

#261 feat(frontend): Balance Wheel animation bb-204
  apps/frontend/package.json
  apps/frontend/src/libs/components/balance-wheel-chart/balance-wheel-chart.tsx
  apps/frontend/src/libs/components/balance-wheel-chart/libs/constants/animation-interval.constant.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/constants/constants.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/constants/fallback-background-color.constant.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/constants/wheel-chart-config.constant.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/enums/balance-wheel-data-config.enum.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/enums/chart-slice-color.enum.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/enums/enums.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/helpers/generate-gradient-color/generate-gradient-color.helper.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/helpers/generate-random-data/generate-random-data.helper.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/helpers/get-background-color-from-label/get-background-color-from-label.helper.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/helpers/helpers.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/types/chart-data.type.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/types/types.ts
  apps/frontend/src/libs/components/balance-wheel-chart/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/quiz/libs/components/balance-wheel/balance-wheel.tsx
  apps/frontend/src/pages/quiz/libs/components/balance-wheel/libs/constants/balance-wheel-animated-initial-data.constant.ts
  apps/frontend/src/pages/quiz/libs/components/balance-wheel/libs/constants/constants.ts
  apps/frontend/src/pages/quiz/libs/components/balance-wheel/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/components.ts
  apps/frontend/src/pages/quiz/libs/enums/step.ts
  apps/frontend/src/pages/quiz/quiz.tsx
  package-lock.json
Labels: frontend, root

#275 feat(frontend/shared): requirements for authorization pages for web version bb-209
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/modules/users/libs/constants/constants.ts
  apps/frontend/src/pages/auth/libs/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/libs/components/sign-up-form/sign-up-form.tsx
  packages/shared/src/modules/auth/libs/enums/confirm-password-custom-validation.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-regex-rule.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-forgot-password.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: frontend, shared

#260 feat(backend/frontend/shared): user profile screen bb-187
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/api-pre-handler.type.ts
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
  apps/backend/src/libs/modules/controller/libs/types/types.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-route-parameters.type.ts
  apps/backend/src/libs/types/service.type.ts
  apps/backend/src/modules/users/libs/exceptions/exceptions.ts
  apps/backend/src/modules/users/libs/hooks/check-access-to-user-data.hook.ts
  apps/backend/src/modules/users/libs/hooks/hooks.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/loader/styles.module.css
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/users/libs/enums/enums.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/libs/types/user-update-payload.type.ts
  apps/frontend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/profile/libs/components/components.ts
  apps/frontend/src/pages/profile/libs/components/update-user-form/styles.module.css
  apps/frontend/src/pages/profile/libs/components/update-user-form/update-user-form.tsx
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/user-error/user-error.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-regex-rule.enum.ts
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-get-parameters-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-update-form-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-update-parameters-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-update-request-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-update.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, backend, shared

#263 feat(frontend/backend): quiz functionality bb-89
  apps/backend/src/modules/quiz-questions/quiz-question.service.ts
  apps/backend/src/modules/quiz/quiz.controller.ts
  apps/backend/src/modules/quiz/quiz.ts
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/proggress-bar/progress-bar.tsx
  apps/frontend/src/libs/components/progress-bar/progress-bar.tsx
  apps/frontend/src/libs/components/progress-bar/styles.module.css
  apps/frontend/src/libs/components/quiz-question/quiz-question.tsx
  apps/frontend/src/libs/components/quiz-question/styles.module.css
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/libs/types/form-field-properties.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/quiz/libs/enums/enums.ts
  apps/frontend/src/modules/quiz/libs/types/types.ts
  apps/frontend/src/modules/quiz/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/quiz/quiz-api.ts
  apps/frontend/src/modules/quiz/quiz.ts
  apps/frontend/src/modules/quiz/slices/actions.ts
  apps/frontend/src/modules/quiz/slices/quiz.slice.ts
  apps/frontend/src/modules/quiz/slices/quiz.ts
  apps/frontend/src/pages/onboarding/onboarding.tsx
  apps/frontend/src/pages/quiz/libs/components/components.ts
  apps/frontend/src/pages/quiz/libs/components/quiz-form/quiz-form.tsx
  apps/frontend/src/pages/quiz/libs/components/quiz-form/styles.module.css
  apps/frontend/src/pages/quiz/libs/constants/constants.ts
  apps/frontend/src/pages/quiz/libs/constants/quiz-form-default-values.constant.ts
  apps/frontend/src/pages/quiz/libs/enums/step.ts
  apps/frontend/src/pages/quiz/libs/types/types.ts
  apps/frontend/src/pages/quiz/quiz.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/quiz/libs/enums/enums.ts
  packages/shared/src/modules/quiz/libs/enums/quiz-api-path.enum.ts
  packages/shared/src/modules/quiz/libs/enums/quiz-validation-message.enum.ts
  packages/shared/src/modules/quiz/libs/enums/quiz-validation-rule.enum.ts
  packages/shared/src/modules/quiz/libs/validation-schemas/one-answer-selected.validation-schema.ts
  packages/shared/src/modules/quiz/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/quiz/quiz.ts
Labels: frontend, backend, shared

#304 fix(frontend): solve unclickable radio buttons bb-89
  apps/frontend/src/pages/quiz/libs/components/quiz-form/quiz-form.tsx
Labels: frontend

#301 feat: Onboarding questions screen mobile responsiveness bb-289
  apps/frontend/src/libs/components/progress-bar/styles.module.css
  apps/frontend/src/libs/components/protected-route/libs/constants/routes-without-auth-wrapper.constant.ts
  apps/frontend/src/pages/onboarding/libs/components/onboarding-answer/styles.module.css
  apps/frontend/src/pages/onboarding/onboarding.tsx
  apps/frontend/src/pages/onboarding/styles.module.css
Labels: frontend

#307 fix(frontend): fix skipping category on next button event bb-89
  apps/frontend/src/pages/quiz/libs/constants/quiz-form-default-values.constant.ts
  apps/frontend/src/pages/quiz/libs/types/types.ts
  package-lock.json
Labels: frontend, root

#316 feat(frontend): quiz question screen mobile responsiveness bb-290
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/quiz-question/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/quiz-form/quiz-form.tsx
  apps/frontend/src/pages/quiz/libs/components/quiz-form/styles.module.css
Labels: frontend

#320 fix(mobile): rename placeholder for email bb-210
  apps/mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  apps/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Labels: mobile

#317 fix(frontend): fix extra spaces between label and field bb-312
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
Labels: frontend

#322 feat(frontend): change the text on not found page bb-278
  apps/frontend/src/pages/not-found/not-found.tsx
Labels: frontend

#325 feat(frontend): add new text for a loader component bb-243
  apps/frontend/src/libs/components/loader/loader.tsx
  apps/frontend/src/libs/components/loader/styles.module.css
Labels: frontend

#318 feat: Balance Wheel animation bb-204
  apps/frontend/src/libs/components/balance-wheel-chart/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/balance-wheel/balance-wheel.tsx
  apps/frontend/src/pages/quiz/libs/components/balance-wheel/libs/enums/enums.ts
  apps/frontend/src/pages/quiz/libs/components/balance-wheel/libs/enums/percentage-config.enum.ts
  apps/frontend/src/pages/quiz/libs/components/balance-wheel/styles.module.css
Labels: frontend

#333 fix(frontend): update font-size for forgot password link on sign in page bb-331
  apps/frontend/src/pages/auth/libs/components/sign-in-form/styles.module.css
Labels: frontend

#337 fix(backend): saved user answers for onboarding questions bb-284
  apps/backend/src/modules/onboarding/onboarding.service.ts
  package-lock.json
Labels: bug, backend, root

#295 feat(mobile): onboarding screen bb-127
  apps/mobile/package.json
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/progress-bar/constants/bar-height.constant.ts
  apps/mobile/src/libs/components/progress-bar/constants/constants.ts
  apps/mobile/src/libs/components/progress-bar/constants/dot-diameter.constant.ts
  apps/mobile/src/libs/components/progress-bar/constants/screen-width-multiplier.constant.ts
  apps/mobile/src/libs/components/progress-bar/constants/step-animation-duration.constant.ts
  apps/mobile/src/libs/components/progress-bar/enums/enums.ts
  apps/mobile/src/libs/components/progress-bar/enums/gradient-coordinate.enum.ts
  apps/mobile/src/libs/components/progress-bar/progress-bar.tsx
  apps/mobile/src/libs/components/progress-bar/styles.ts
  apps/mobile/src/libs/components/radio-group/radio-group.tsx
  apps/mobile/src/libs/components/radio-group/styles.ts
  apps/mobile/src/libs/constants/constants.ts
  apps/mobile/src/libs/enums/app/app.ts
  apps/mobile/src/libs/enums/app/numerical-value.enum.ts
  apps/mobile/src/libs/enums/enums.ts
  apps/mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  apps/mobile/src/libs/helpers/create-radio-button-properties/create-radio-button.properties.ts
  apps/mobile/src/libs/helpers/get-screen-width/get-screen-width.helper.ts
  apps/mobile/src/libs/helpers/helpers.ts
  apps/mobile/src/libs/hooks/hooks.ts
  apps/mobile/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/mobile/src/libs/packages/store/store.package.ts
  apps/mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  apps/mobile/src/libs/types/radio-group/radio-group-item-style.type.ts
  apps/mobile/src/libs/types/radio-group/radio-group-option.type.ts
  apps/mobile/src/libs/types/radio-group/types.ts
  apps/mobile/src/libs/types/types.ts
  apps/mobile/src/navigations/root/root.tsx
  apps/mobile/src/packages/onboarding/libs/enums/enums.ts
  apps/mobile/src/packages/onboarding/libs/types/types.ts
  apps/mobile/src/packages/onboarding/libs/validation-schemas/validation-schemas.ts
  apps/mobile/src/packages/onboarding/onboarding-api.ts
  apps/mobile/src/packages/onboarding/onboarding.ts
  apps/mobile/src/screens/onboarding/libs/animations/animations.ts
  apps/mobile/src/screens/onboarding/libs/animations/get-page-interpolator-slide.ts
  apps/mobile/src/screens/onboarding/libs/components/components.ts
  apps/mobile/src/screens/onboarding/libs/components/content/content.tsx
  apps/mobile/src/screens/onboarding/libs/components/content/styles.ts
  apps/mobile/src/screens/onboarding/libs/constants/animation-config.constant.ts
  apps/mobile/src/screens/onboarding/libs/constants/animation-scale-factor.constant.ts
  apps/mobile/src/screens/onboarding/libs/constants/constants.ts
  apps/mobile/src/screens/onboarding/libs/constants/onboarding-form-default-values.constant.ts
  apps/mobile/src/screens/onboarding/libs/types/onboarding-form-values.type.ts
  apps/mobile/src/screens/onboarding/libs/types/root-stack-parameter-list.type.ts
  apps/mobile/src/screens/onboarding/libs/types/types.ts
  apps/mobile/src/screens/onboarding/onboarding.tsx
  apps/mobile/src/screens/onboarding/styles.ts
  apps/mobile/src/slices/onboarding/actions.ts
  apps/mobile/src/slices/onboarding/onboarding.slice.ts
  apps/mobile/src/slices/onboarding/onboarding.ts
  package-lock.json
Labels: mobile, root

#300 feat(mobile): balance wheel animated loader bb-265
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/wheel-loader/wheel-loader.tsx
  apps/mobile/src/libs/components/wheel/libs/components/animated-appearing-sector/animated-appearing-sector.tsx
  apps/mobile/src/libs/components/wheel/libs/components/animated-pulsing-sector/animated-pulsing-sector.tsx
  apps/mobile/src/libs/components/wheel/libs/components/animated-sector/animated-sector.tsx
  apps/mobile/src/libs/components/wheel/libs/components/components.tsx
  apps/mobile/src/libs/components/wheel/libs/constants/constants.ts
  apps/mobile/src/libs/components/wheel/libs/constants/initial-shared-data.constant.ts
  apps/mobile/src/libs/components/wheel/libs/enums/animation-default-setting.enum.ts
  apps/mobile/src/libs/components/wheel/libs/enums/enums.ts
  apps/mobile/src/libs/components/wheel/libs/enums/wheel-setting.enum.ts
  apps/mobile/src/libs/components/wheel/libs/helpers/get-radians-from-percent/get-radians-from-percent.helper.ts
  apps/mobile/src/libs/components/wheel/libs/helpers/get-sector-parameters/get-sector-parameters.helper.ts
  apps/mobile/src/libs/components/wheel/libs/helpers/get-sector-random-value/get-sector-random-value.helper.ts
  apps/mobile/src/libs/components/wheel/libs/helpers/get-wheel-category-parameters/get-wheel-category-parameters.helper.ts
  apps/mobile/src/libs/components/wheel/libs/helpers/helpers.ts
  apps/mobile/src/libs/components/wheel/libs/hooks/hooks.ts
  apps/mobile/src/libs/components/wheel/libs/hooks/use-wheel-animation/use-wheel-animation.hook.ts
  apps/mobile/src/libs/components/wheel/wheel.tsx
  apps/mobile/src/libs/constants/constants.ts
  apps/mobile/src/libs/constants/gradient-sectors-initial-data.constant.ts
  apps/mobile/src/libs/enums/app/animation-name.enum.ts
  apps/mobile/src/libs/enums/app/app.ts
  apps/mobile/src/libs/enums/enums.ts
  apps/mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  apps/mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  apps/mobile/src/libs/types/types.ts
  apps/mobile/src/libs/types/wheel/sector-initial-shared-values.type.ts
  apps/mobile/src/libs/types/wheel/sector-parameters-calculation-data.type.ts
  apps/mobile/src/libs/types/wheel/sector-parameters.type.ts
  apps/mobile/src/libs/types/wheel/wheel.ts
  apps/mobile/src/navigations/root/root.tsx
  apps/mobile/src/screens/onboarding/onboarding.tsx
  apps/mobile/src/screens/quiz-entry/quiz-entry.tsx
  apps/mobile/src/screens/wheel-loading/libs/enums.ts
  apps/mobile/src/screens/wheel-loading/wheel-loading.tsx
  apps/mobile/src/screens/wheel/wheel.tsx
Labels: mobile

#353 fix(backend): drop NotificationFrequency enum on down bb-243
  apps/backend/src/db/migrations/20240906080253_add_allow_notifications_column_to_user_details.ts
Labels: backend

#346 feat(frontend): quiz question screen mobile responsiveness bb-290
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/pages/onboarding/onboarding.tsx
  apps/frontend/src/pages/quiz/libs/components/introduction/introduction.tsx
  apps/frontend/src/pages/quiz/libs/components/quiz-form/quiz-form.tsx
  apps/frontend/src/pages/quiz/libs/components/quiz-form/styles.module.css
Labels: frontend

#356 fix(frontend/shared): requirements for authorization pages for web version bb-209
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/pages/auth/libs/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/libs/components/sign-up-form/sign-up-form.tsx
  package-lock.json
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-regex-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: bug, frontend, root, shared

#355 fix(mobile): error message appear authorized user tap on "Tasks" bb-350
  apps/mobile/src/packages/users/libs/types/types.ts
  apps/mobile/src/packages/users/users-api.ts
  apps/mobile/src/packages/users/users.ts
  apps/mobile/src/screens/tasks/tasks.tsx
  apps/mobile/src/slices/users/actions.ts
  apps/mobile/src/slices/users/users.slice.ts
  apps/mobile/src/slices/users/users.ts
Labels: mobile

#363 fix(frontend): checkbox border bb-243
  apps/frontend/src/libs/components/checkbox/styles.module.css
Labels: frontend

#364 fix(shared): notification questions validation bb-243
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/notification-answers-validation-schema.ts
Labels: shared

#367 fix(backend): return UserDto on saveNotificationAnswers bb-243
  apps/backend/src/modules/users/user.service.ts
Labels: backend

#336 fix(frontend): remade backgrounds for quiz and not-found pages bb-327
  apps/frontend/src/pages/not-found/not-found.tsx
  apps/frontend/src/pages/not-found/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/analyzing/analyzing.tsx
  apps/frontend/src/pages/quiz/libs/components/analyzing/styles.module.css
Labels: frontend

#345 feat: Onboarding questions screen mobile responsiveness bb-289
  apps/frontend/src/libs/components/progress-bar/styles.module.css
  apps/frontend/src/pages/onboarding/libs/components/onboarding-answer/styles.module.css
  apps/frontend/src/pages/onboarding/libs/constants/constants.ts
  apps/frontend/src/pages/onboarding/libs/constants/first-question-index.constant.ts
  apps/frontend/src/pages/onboarding/libs/enums/button-label.enum.ts
  apps/frontend/src/pages/onboarding/libs/enums/enums.ts
  apps/frontend/src/pages/onboarding/onboarding.tsx
  apps/frontend/src/pages/onboarding/styles.module.css
Labels: frontend

#352 feat(mobile): quiz screen bb-245
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/infinite-pager/infinite-pager.tsx
  apps/mobile/src/libs/components/infinite-pager/libs/animations/animations.ts
  apps/mobile/src/libs/components/infinite-pager/libs/animations/get-page-interpolator-slide.ts
  apps/mobile/src/libs/components/infinite-pager/libs/constants/animation-config.constant.ts
  apps/mobile/src/libs/components/infinite-pager/libs/constants/animation-scale-factor.constant.ts
  apps/mobile/src/libs/components/infinite-pager/libs/constants/constants.ts
  apps/mobile/src/libs/enums/app/base-color.enum.ts
  apps/mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  apps/mobile/src/libs/packages/api/api.ts
  apps/mobile/src/libs/packages/store/store.package.ts
  apps/mobile/src/libs/types/infinite-pager/infinite-pager.ts
  apps/mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  apps/mobile/src/libs/types/types.ts
  apps/mobile/src/navigations/root/root.tsx
  apps/mobile/src/packages/auth/auth-api.ts
  apps/mobile/src/packages/onboarding/onboarding-api.ts
  apps/mobile/src/packages/quiz/libs/enums/enums.ts
  apps/mobile/src/packages/quiz/libs/types/types.ts
  apps/mobile/src/packages/quiz/libs/validation-schemas/validation-schemas.ts
  apps/mobile/src/packages/quiz/quiz-api.ts
  apps/mobile/src/packages/quiz/quiz.ts
  apps/mobile/src/packages/users/users-api.ts
  apps/mobile/src/screens/onboarding/libs/constants/constants.ts
  apps/mobile/src/screens/onboarding/onboarding.tsx
  apps/mobile/src/screens/quiz-entry/quiz-entry.tsx
  apps/mobile/src/screens/quiz/libs/components/components.ts
  apps/mobile/src/screens/quiz/libs/components/content/content.tsx
  apps/mobile/src/screens/quiz/libs/components/content/styles.ts
  apps/mobile/src/screens/quiz/libs/components/counter/counter.tsx
  apps/mobile/src/screens/quiz/libs/components/counter/styles.ts
  apps/mobile/src/screens/quiz/libs/constants/costants.ts
  apps/mobile/src/screens/quiz/libs/constants/quiz-form-default-values.constant.ts
  apps/mobile/src/screens/quiz/libs/types/quiz-form-values.type.ts
  apps/mobile/src/screens/quiz/libs/types/root-stack-parameter-list.type.ts
  apps/mobile/src/screens/quiz/libs/types/types.ts
  apps/mobile/src/screens/quiz/quiz.tsx
  apps/mobile/src/screens/quiz/styles.ts
  apps/mobile/src/slices/quiz/actions.ts
  apps/mobile/src/slices/quiz/quiz.slice.ts
  apps/mobile/src/slices/quiz/quiz.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/api/api-configuration.type.ts
  packages/shared/src/libs/modules/api/api.ts
Labels: mobile, shared

#329 feat(frontend/backend): forgot password functionality requirements bb-285
  apps/backend/.env.example
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/libs/exceptions/exceptions.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/mailer/base-mailer.module.ts
  apps/backend/src/libs/modules/server-application/libs/constants/constants.ts
  apps/backend/src/libs/modules/token/base-token.module.ts
  apps/backend/src/libs/modules/token/token.ts
  apps/backend/src/libs/plugins/authorization-plugin/authorization-plugin.ts
  apps/backend/src/libs/plugins/authorization-plugin/libs/constants/constants.ts
  apps/backend/src/libs/plugins/authorization-plugin/libs/constants/one-thousand-milliseconds.constant.ts
  apps/backend/src/libs/plugins/authorization-plugin/libs/helpers/check-is-white-route.helper.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/auth.ts
  apps/backend/src/modules/auth/libs/helpers/create-reset-password-email.helper.ts
  apps/backend/src/modules/auth/libs/helpers/helpers.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/modules/store/handle-error.middleware.ts
  apps/frontend/src/libs/modules/store/libs/middlewares/handle-error.middleware.ts
  apps/frontend/src/libs/modules/store/libs/middlewares/middlewares.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/libs/modules/store/store.ts
  apps/frontend/src/modules/app/app.ts
  apps/frontend/src/modules/app/slices/app.slice.ts
  apps/frontend/src/modules/app/slices/app.ts
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/libs/components/forgot-password-form/forgot-password-form.tsx
  apps/frontend/src/pages/auth/libs/components/reset-password-form/reset-password-form.tsx
  apps/frontend/src/pages/auth/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/modules/auth/libs/enums/auth-api-path.enum.ts
  packages/shared/src/modules/users/libs/types/reset-password-link-dto.type.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, backend, shared, env

#379 fix(mobile): styles onboarding screen bb-127
  apps/mobile/src/libs/components/radio-group/radio-group.tsx
  apps/mobile/src/screens/onboarding/libs/components/content/content.tsx
  apps/mobile/src/screens/onboarding/libs/components/content/styles.ts
  apps/mobile/src/screens/onboarding/onboarding.tsx
Labels: mobile

#266 feat(frontend/backend/shared): Quiz categories form bb-220
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/categories/categories.ts
  apps/backend/src/modules/categories/category.controller.ts
  apps/backend/src/modules/categories/category.repository.ts
  apps/backend/src/modules/categories/category.service.ts
  apps/backend/src/modules/categories/libs/enums/enums.ts
  apps/backend/src/modules/categories/libs/types/types.ts
  apps/backend/src/modules/onboarding/onboarding.controller.ts
  apps/backend/src/modules/quiz/quiz.controller.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/checkbox/checkbox.tsx
  apps/frontend/src/libs/components/checkbox/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/quiz-categories-form/libs/constants/constants.ts
  apps/frontend/src/libs/components/quiz-categories-form/libs/constants/quiz-categories-form-default-values.constant.ts
  apps/frontend/src/libs/components/quiz-categories-form/libs/types/quiz-categories-form-fields.type.ts
  apps/frontend/src/libs/components/quiz-categories-form/libs/types/types.ts
  apps/frontend/src/libs/components/quiz-categories-form/quiz-categories-form.tsx
  apps/frontend/src/libs/components/quiz-categories-form/styles.module.css
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/libs/types/form-field-properties.type.ts
  apps/frontend/src/libs/types/input-option.type.ts
  apps/frontend/src/modules/categories/categories-api.ts
  apps/frontend/src/modules/categories/categories.ts
  apps/frontend/src/modules/categories/libs/enums/enums.ts
  apps/frontend/src/modules/categories/libs/types/types.ts
  apps/frontend/src/modules/categories/slices/actions.ts
  apps/frontend/src/modules/categories/slices/categories.slice.ts
  apps/frontend/src/modules/categories/slices/categories.ts
  apps/frontend/src/pages/chat/chat.tsx
  apps/frontend/src/pages/chat/styles.module.css
  apps/frontend/src/pages/onboarding/libs/components/onboarding-answer/onboarding-answer.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/modules/categories/categories.ts
  packages/shared/src/modules/categories/libs/enums/categories-api-path.enum.ts
  packages/shared/src/modules/categories/libs/enums/enums.ts
  packages/shared/src/modules/categories/libs/types/categories-get-all-response-dto.type.ts
  packages/shared/src/modules/categories/libs/types/category-create-request-dto.type.ts
  packages/shared/src/modules/categories/libs/types/category-dto.type.ts
  packages/shared/src/modules/categories/libs/types/category-update-request-dto.type.ts
  packages/shared/src/modules/categories/libs/types/category-with-scores-dto.type.ts
  packages/shared/src/modules/categories/libs/types/types.ts
  packages/shared/src/modules/quiz/libs/types/category-request-dto.type.ts
  packages/shared/src/modules/quiz/libs/types/types.ts
  packages/shared/src/modules/quiz/quiz.ts
Labels: frontend, backend, shared

#383 fix(frontend): User name is not updated after changing it in profile bb-375
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/users/slices/actions.ts
Labels: frontend

#384 feat(frontend): implement hover state for active buttons based on design specs bb-310
  apps/frontend/src/libs/components/link/styles.module.css
Labels: frontend

#382 feat(frontend): add logout confirmation bb-365
  apps/frontend/src/assets/img/run.svg
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/popup/popup.tsx
  apps/frontend/src/libs/components/popup/styles.module.css
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/popup-message.enum.ts
Labels: frontend

#376 feat(frontend): settings screen bb-334
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/frontend/src/assets/img/settings-active.svg
  apps/frontend/src/assets/img/settings-inactive.svg
  apps/frontend/src/assets/img/sign-out.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/auth-wrapper/style.module.css
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/notification-frequency-options.constant.ts
  apps/frontend/src/libs/constants/sidebar-items.constant.ts
  apps/frontend/src/libs/constants/task-days-options.constant.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/libs/types/notification-questions-form-values.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/pages/quiz/libs/components/notification-questions/libs/constants/constants.ts
  apps/frontend/src/pages/quiz/libs/components/notification-questions/libs/constants/notification-questions-form-default-values.constant.ts
  apps/frontend/src/pages/quiz/libs/components/notification-questions/libs/constants/notification-questions-options.constant.ts
  apps/frontend/src/pages/quiz/libs/components/notification-questions/libs/types/types.ts
  apps/frontend/src/pages/quiz/libs/components/notification-questions/notification-questions.tsx
  apps/frontend/src/pages/settings/settings.tsx
  apps/frontend/src/pages/settings/styles.module.css
  readme.md
Labels: frontend, backend, root

#393 fix(frontend): checkbox size on checked bb-243
  apps/frontend/src/libs/components/checkbox/styles.module.css
Labels: frontend

#343 feat(backend/frontend/shared): edit wheel manually bb-309
  apps/backend/src/modules/categories/categories.ts
  apps/backend/src/modules/categories/category.repository.ts
  apps/backend/src/modules/categories/category.service.ts
  apps/backend/src/modules/categories/libs/exceptions/exceptions.ts
  apps/backend/src/modules/categories/libs/types/category-score-model.type.ts
  apps/backend/src/modules/categories/libs/types/types.ts
  apps/backend/src/modules/categories/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/quiz/quiz.controller.ts
  apps/frontend/src/assets/img/value-bubble.svg
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/scores-edit-modal/libs/constants/constants.ts
  apps/frontend/src/libs/components/scores-edit-modal/libs/types/modal-data.type.ts
  apps/frontend/src/libs/components/scores-edit-modal/libs/types/types.ts
  apps/frontend/src/libs/components/scores-edit-modal/scores-edit-modal.tsx
  apps/frontend/src/libs/components/scores-edit-modal/styles.module.css
  apps/frontend/src/libs/components/slider/libs/constants/constants.ts
  apps/frontend/src/libs/components/slider/libs/helpers/format-to-kebab-case/format-to-kebab-case.helper.ts
  apps/frontend/src/libs/components/slider/libs/helpers/helpers.ts
  apps/frontend/src/libs/components/slider/slider.tsx
  apps/frontend/src/libs/components/slider/styles.module.css
  apps/frontend/src/modules/quiz/libs/types/types.ts
  apps/frontend/src/modules/quiz/quiz-api.ts
  apps/frontend/src/modules/quiz/quiz.ts
  apps/frontend/src/modules/quiz/slices/actions.ts
  apps/frontend/src/modules/quiz/slices/quiz.slice.ts
  apps/frontend/src/modules/quiz/slices/quiz.ts
  apps/frontend/src/pages/root/components/user-wheel/styles.module.css
  apps/frontend/src/pages/root/components/user-wheel/user-wheel.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/libs/exceptions/category-error/category-error.exception.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/modules/quiz/libs/enums/enums.ts
  packages/shared/src/modules/quiz/libs/enums/score-validation-message.enum.ts
  packages/shared/src/modules/quiz/libs/enums/score-validation-rule.enum.ts
  packages/shared/src/modules/quiz/libs/types/quiz-scores-update-item-request-dto.type.ts
  packages/shared/src/modules/quiz/libs/types/quiz-scores-update-request-dto.type.ts
  packages/shared/src/modules/quiz/libs/types/types.ts
  packages/shared/src/modules/quiz/libs/validation-schemas/update-scores.validation-schema.ts
  packages/shared/src/modules/quiz/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/quiz/quiz.ts
Labels: frontend, backend, shared

#395 feat(frontend): add logout confirmation bb-365
  apps/frontend/src/libs/components/popup/popup.tsx
Labels: frontend

#398 fix(frontend): settings screen button padding bb-334
  apps/frontend/src/libs/components/button/styles.module.css
Labels: frontend

#399 fix(frontend): buttons color doesn't match design bb-396
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/popup/popup.tsx
  apps/frontend/src/pages/onboarding/onboarding.tsx
  apps/frontend/src/pages/quiz/libs/components/quiz-form/quiz-form.tsx
Labels: frontend

#313 ci: add cd for mobile bb-233
  .editorconfig
  codemagic.yaml
Labels: root

#401 fix(frontend): Change the appearance of Next and Back buttons for the web version bb-400
  apps/frontend/src/pages/onboarding/styles.module.css
Labels: frontend

#392 feat(mobile): background component bb-154
  apps/mobile/src/libs/components/background-wrapper/background-wrapper.tsx
  apps/mobile/src/libs/components/background-wrapper/libs/maps/maps.ts
  apps/mobile/src/libs/components/background-wrapper/libs/maps/preset-to-planet-position.map.ts
  apps/mobile/src/libs/components/background-wrapper/styles.ts
  apps/mobile/src/libs/components/planet/libs/maps/maps.ts
  apps/mobile/src/libs/components/planet/planet.tsx
  apps/mobile/src/libs/components/planet/styles.ts
  apps/mobile/src/libs/components/tag/tag.tsx
  apps/mobile/src/libs/maps/maps.ts
  apps/mobile/src/libs/maps/size-to-styles/size-to-styles.ts
  apps/mobile/src/screens/auth/auth.tsx
  apps/mobile/src/screens/welcome/welcome.tsx
  apps/mobile/src/screens/wheel-loading/wheel-loading.tsx
Labels: mobile

#405 fix(frontend): forgot-password reset-password forms validation bb-285
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/modules/users/libs/constants/constants.ts
  apps/frontend/src/pages/auth/libs/components/forgot-password-form/forgot-password-form.tsx
  apps/frontend/src/pages/auth/libs/components/reset-password-form/reset-password-form.tsx
  apps/frontend/src/pages/auth/libs/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/libs/components/sign-up-form/sign-up-form.tsx
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/numerical-value.enum.ts
Labels: frontend, root, shared

#408 feat(frontend): intro motivation bb-377
  apps/frontend/src/pages/quiz/libs/components/components.ts
  apps/frontend/src/pages/quiz/libs/components/motivation/motivation.tsx
  apps/frontend/src/pages/quiz/libs/components/motivation/styles.module.css
  apps/frontend/src/pages/quiz/libs/enums/step.ts
  apps/frontend/src/pages/quiz/quiz.tsx
Labels: frontend

#407 fix(mobile): Remove link "Go to the Wheel" from the Welcome screen bb-369
  apps/mobile/src/screens/welcome/welcome.tsx
  apps/mobile/src/screens/wheel-loading/wheel-loading.tsx
Labels: mobile

#411 fix(frontend): incorrect color of sidebar buttons bb-406
  apps/frontend/src/libs/components/link/styles.module.css
Labels: frontend

#414 ci(mobile): update codemagic script bb-233
  apps/mobile/android/app/build.gradle
  apps/mobile/android/app/versionCode
  apps/mobile/android/app/versionName
  codemagic.yaml
Labels: mobile, root

#276 feat(backend): update profile picture bb-173
  apps/backend/.env.example
  apps/backend/index.d.ts
  apps/backend/package.json
  apps/backend/src/db/migrations/20240827214519_add_files_table.ts
  apps/backend/src/db/migrations/20240828160440_add_avatar_field.ts
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/enums/relation-name.enum.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/s3/base-s3.module.ts
  apps/backend/src/libs/modules/s3/libs/types/command-parameters.type.ts
  apps/backend/src/libs/modules/s3/libs/types/types.ts
  apps/backend/src/libs/modules/s3/s3.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/authorization-plugin/authorization-plugin.ts
  apps/backend/src/libs/plugins/file-plugin/file-plugin.ts
  apps/backend/src/libs/plugins/file-plugin/libs/constants/allowed-number-of-files.constant.ts
  apps/backend/src/libs/plugins/file-plugin/libs/constants/constants.ts
  apps/backend/src/libs/plugins/file-plugin/libs/constants/file-size-limit-in-bytes.constant.ts
  apps/backend/src/libs/plugins/plugins.ts
  apps/backend/src/modules/files/file.entity.ts
  apps/backend/src/modules/files/file.model.ts
  apps/backend/src/modules/files/file.repository.ts
  apps/backend/src/modules/files/file.service.ts
  apps/backend/src/modules/files/files.ts
  apps/backend/src/modules/files/libs/exceptions/exceptions.ts
  apps/backend/src/modules/files/libs/helpers/create-file-key.helper.ts
  apps/backend/src/modules/files/libs/helpers/create-file-url.helper.ts
  apps/backend/src/modules/files/libs/helpers/get-file-key.helper.ts
  apps/backend/src/modules/files/libs/helpers/helpers.ts
  apps/backend/src/modules/files/libs/types/file.type.ts
  apps/backend/src/modules/files/libs/types/types.ts
  apps/backend/src/modules/files/libs/types/uploaded-file.type.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/types/user-details-with-avatar-file.type.ts
  apps/backend/src/modules/users/libs/types/user-with-avatar-file.type.ts
  apps/backend/src/modules/users/user-details.model.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  apps/backend/tsconfig.json
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/content-type.enum.ts
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/file-error/file-error.exception.ts
  packages/shared/src/libs/exceptions/user-error/user-error.exception.ts
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
  packages/shared/src/modules/users/libs/types/user-dto.type.ts
  readme.md
Labels: backend, root, shared, env

#421 fix(frontend): add "?" to question bb-243
  apps/frontend/src/pages/quiz/libs/components/notification-questions/notification-questions.tsx
Labels: frontend

#359 feat(frontend): Text under the title "We’re Analyzing Your Journey!" must be dynamic bb-303
  apps/frontend/src/pages/quiz/libs/components/analyzing/analyzing.tsx
  apps/frontend/src/pages/quiz/libs/components/analyzing/libs/enums/analyzing-text.enum.ts
  apps/frontend/src/pages/quiz/libs/components/analyzing/libs/enums/enums.ts
  apps/frontend/src/pages/quiz/libs/components/analyzing/libs/enums/text-animation-delay.enum.ts
  apps/frontend/src/pages/quiz/libs/components/analyzing/libs/hooks/hooks.ts
  apps/frontend/src/pages/quiz/libs/components/analyzing/libs/hooks/use-animated-spans/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/analyzing/libs/hooks/use-animated-spans/use-animated-spans.hook.tsx
  apps/frontend/src/pages/quiz/libs/components/analyzing/styles.module.css
Labels: frontend

#425 feat: Balance Wheel animation bb-204
  apps/frontend/src/pages/quiz/libs/components/balance-wheel/balance-wheel.tsx
  apps/frontend/src/pages/quiz/libs/components/balance-wheel/libs/enums/percentage-config.enum.ts
Labels: frontend

#420 chore(frontend): checkbox mark adjustment bb-415
  apps/frontend/src/assets/img/rounded-check.svg
  apps/frontend/src/libs/components/checkbox/checkbox.tsx
  apps/frontend/src/libs/components/checkbox/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/types/icon-name.type.ts
Labels: frontend, adjustment

#416 feat(frontend): add logo to signin and signup pages bb-373
  apps/frontend/src/assets/img/colorfull-logo.svg
  apps/frontend/src/assets/img/white-logo.svg
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/styles.module.css
Labels: frontend

#412 fix(mobile): "Forgot password" link is missing on the Sign In page bb-349
  apps/mobile/src/libs/components/link/link.tsx
  apps/mobile/src/libs/components/link/styles.ts
  apps/mobile/src/libs/components/text/libs/maps/maps.ts
  apps/mobile/src/libs/components/text/libs/maps/preset-to-style-map.ts
  apps/mobile/src/libs/components/text/text.tsx
  apps/mobile/src/libs/enums/app/base-color.enum.ts
  apps/mobile/src/libs/maps/font-weight-to-family/font-weight-to-family-map.ts
  apps/mobile/src/libs/maps/maps.ts
  apps/mobile/src/libs/maps/preset-to-text-style/preset-to-text-style-map.ts
  apps/mobile/src/libs/maps/size-to-styles/size-to-styles.map.ts
  apps/mobile/src/libs/maps/size-to-text-style/size-to-text-style.map.ts
  apps/mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  apps/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Labels: mobile

#429 fix(frontend): adjust auth page ripple background bb-323
  apps/frontend/src/pages/auth/styles.module.css
Labels: bug, frontend

#430 fix(frontend): button color doesnt match design bb-396
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/link/styles.module.css
Labels: frontend

#433 feat(frontend): add logo to signin signup pages and sidebar bb-373
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
  package-lock.json
Labels: frontend, root

#434 fix(frontend): missing font-weight property for active sidebar button bb-432
  apps/frontend/src/libs/components/link/styles.module.css
Labels: frontend

#387 feat(mobile): create checkbox categories form bb-250
  apps/mobile/src/libs/components/checkbox-categories-form/checkbox-categories-form.tsx
  apps/mobile/src/libs/components/checkbox-categories-form/libs/constants/constants.ts
  apps/mobile/src/libs/components/checkbox-categories-form/libs/helpers/get-categories-sorted-by-score/get-categories-sorted-by-score.helper.ts
  apps/mobile/src/libs/components/checkbox-categories-form/libs/helpers/get-initial-selected-category-ids/get-initial-selected-category-ids.helper.ts
  apps/mobile/src/libs/components/checkbox-categories-form/libs/helpers/helpers.ts
  apps/mobile/src/libs/components/checkbox/checkbox.tsx
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/input/input.tsx
  apps/mobile/src/libs/components/multiple-checkbox-input/libs/types/input-option.type.ts
  apps/mobile/src/libs/components/multiple-checkbox-input/libs/types/types.ts
  apps/mobile/src/libs/components/multiple-checkbox-input/multiple-checkbox-input.tsx
  apps/mobile/src/libs/components/screen-wrapper/libs/enums/edge-direction.enum.ts
  apps/mobile/src/libs/components/screen-wrapper/libs/enums/enums.ts
  apps/mobile/src/libs/components/screen-wrapper/screen-wrapper.tsx
  apps/mobile/src/libs/enums/app/app.ts
  apps/mobile/src/libs/enums/app/numerical-value.enum.ts
  apps/mobile/src/libs/enums/enums.ts
  apps/mobile/src/libs/types/types.ts
  apps/mobile/src/packages/categories/categories.ts
  apps/mobile/src/packages/categories/libs/validation-schemas/validation-schemas.ts
  apps/mobile/src/packages/quiz/libs/types/types.ts
  apps/mobile/src/packages/quiz/quiz-api.ts
  apps/mobile/src/packages/quiz/quiz.ts
  apps/mobile/src/screens/chat/chat.tsx
  apps/mobile/src/screens/chat/libs/components/chat-box/chat-box.tsx
  apps/mobile/src/screens/chat/libs/components/chat-box/styles.ts
  apps/mobile/src/screens/chat/libs/components/components.tsx
  apps/mobile/src/screens/chat/styles.ts
  apps/mobile/src/slices/quiz/actions.ts
  apps/mobile/src/slices/quiz/quiz.slice.ts
  apps/mobile/src/slices/quiz/quiz.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/categories/categories.ts
  packages/shared/src/modules/categories/libs/enums/categories-validation-message.enum.ts
  packages/shared/src/modules/categories/libs/enums/categories-validation-rule.enum.ts
  packages/shared/src/modules/categories/libs/enums/enums.ts
  packages/shared/src/modules/categories/libs/types/categories-selected-request-dto.type.ts
  packages/shared/src/modules/categories/libs/types/types.ts
  packages/shared/src/modules/categories/libs/validation-schemas/categories-selected.validation-schema.ts
  packages/shared/src/modules/categories/libs/validation-schemas/validation-schemas.ts
Labels: mobile, shared

#428 feat(frontend/backend/shared): add deadline for tasks bb-361
  apps/backend/src/modules/tasks/libs/constants/constants.ts
  apps/backend/src/modules/tasks/libs/enums/enums.ts
  apps/backend/src/modules/tasks/libs/enums/sunday.enum.ts
  apps/backend/src/modules/tasks/libs/exceptions/exceptions.ts
  apps/backend/src/modules/tasks/libs/types/types.ts
  apps/backend/src/modules/tasks/libs/types/users-task-create-request-dto.type.ts
  apps/backend/src/modules/tasks/task.service.ts
  apps/frontend/src/assets/img/clock-active.svg
  apps/frontend/src/assets/img/clock-inactive.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/tasks/libs/components/components.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/deadline.tsx
  apps/frontend/src/pages/tasks/libs/components/deadline/libs/constants/constants.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/libs/constants/countdown-expired.constant.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/libs/enums/enums.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/libs/enums/milliseconds-per-unit.enum.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/libs/enums/time-pad.enum.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/libs/types/countdown.type.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/libs/types/types.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/styles.module.css
  apps/frontend/src/pages/tasks/libs/components/task-card/styles.module.css
  apps/frontend/src/pages/tasks/libs/components/task-card/task-card.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/task-error/task-error.exception.ts
  packages/shared/src/modules/tasks/libs/types/task-create-dto.type.ts
  packages/shared/src/modules/tasks/libs/types/types.ts
  packages/shared/src/modules/tasks/tasks.ts
Labels: frontend, backend, shared

#440 feat(frontend/backend/shared): add deadline for tasks bb-361
  apps/backend/src/modules/tasks/libs/constants/constants.ts
  apps/backend/src/modules/tasks/libs/enums/enums.ts
  apps/backend/src/modules/tasks/libs/enums/sunday.enum.ts
  apps/backend/src/modules/tasks/libs/exceptions/exceptions.ts
  apps/backend/src/modules/tasks/libs/types/types.ts
  apps/backend/src/modules/tasks/libs/types/users-task-create-request-dto.type.ts
  apps/backend/src/modules/tasks/task.service.ts
  apps/frontend/src/assets/img/clock-active.svg
  apps/frontend/src/assets/img/clock-inactive.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/tasks/libs/components/components.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/deadline.tsx
  apps/frontend/src/pages/tasks/libs/components/deadline/libs/constants/constants.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/libs/constants/countdown-expired.constant.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/libs/enums/enums.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/libs/enums/milliseconds-per-unit.enum.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/libs/enums/time-pad.enum.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/libs/types/countdown.type.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/libs/types/types.ts
  apps/frontend/src/pages/tasks/libs/components/deadline/styles.module.css
  apps/frontend/src/pages/tasks/libs/components/task-card/styles.module.css
  apps/frontend/src/pages/tasks/libs/components/task-card/task-card.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/task-error/task-error.exception.ts
  packages/shared/src/modules/tasks/libs/types/task-create-dto.type.ts
  packages/shared/src/modules/tasks/libs/types/types.ts
  packages/shared/src/modules/tasks/tasks.ts
Labels: frontend, backend, shared

#435 feat(frontend): New design for toast messages bb-372
  apps/frontend/src/assets/css/notification.css
  apps/frontend/src/assets/css/styles.css
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/error.svg
  apps/frontend/src/assets/img/info.svg
  apps/frontend/src/assets/img/success.svg
  apps/frontend/src/assets/img/warning.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/notification/libs/components/components.ts
  apps/frontend/src/libs/components/notification/libs/components/notification-icon/notification-icon.tsx
  apps/frontend/src/libs/components/notification/libs/components/notification-icon/styles.module.css
  apps/frontend/src/libs/components/notification/libs/types/types.ts
  apps/frontend/src/libs/components/notification/notification.tsx
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/modules/notification/libs/constants/default-error-message.constants.ts
  apps/frontend/src/libs/types/icon-name.type.ts
Labels: frontend

#436 fix(backend): add missing auth on `/quiz/score` endpoint swagger docs bb-431
  apps/backend/src/modules/quiz/quiz.controller.ts
Labels: bug, backend

#439 feat(mobile): add logo to mobile app bb-423
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/android/app/src/main/java/com/bebalance/MainActivity.kt
  apps/mobile/android/app/src/main/res/drawable-hdpi/bootsplash_logo.png
  apps/mobile/android/app/src/main/res/drawable-mdpi/bootsplash_logo.png
  apps/mobile/android/app/src/main/res/drawable-xhdpi/bootsplash_logo.png
  apps/mobile/android/app/src/main/res/drawable-xxhdpi/bootsplash_logo.png
  apps/mobile/android/app/src/main/res/drawable-xxxhdpi/bootsplash_logo.png
  apps/mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  apps/mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-ldpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/values/colors.xml
  apps/mobile/android/app/src/main/res/values/ic_launcher_background.xml
  apps/mobile/android/app/src/main/res/values/styles.xml
  apps/mobile/index.d.ts
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/src/assets/svg/logo-gradient.svg
  apps/mobile/src/assets/svg/logo.svg
  apps/mobile/src/libs/components/app/app.tsx
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/logo/logo.tsx
  apps/mobile/src/screens/auth/auth.tsx
  package-lock.json
Labels: mobile, root

#351 feat(frontend/backend): Onboarding/quiz flow bb-242
  apps/backend/src/libs/enums/relation-name.enum.ts
  apps/backend/src/modules/onboarding/onboarding.controller.ts
  apps/backend/src/modules/onboarding/onboarding.service.ts
  apps/backend/src/modules/quiz-questions/quiz-question.repository.ts
  apps/backend/src/modules/users/libs/constants/constants.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/types/user-with-avatar-file.type.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/onboarding/libs/types/types.ts
  apps/frontend/src/modules/onboarding/onboarding-api.ts
  apps/frontend/src/modules/onboarding/onboarding.ts
  apps/frontend/src/modules/onboarding/slices/actions.ts
  apps/frontend/src/modules/onboarding/slices/onboarding.slice.ts
  apps/frontend/src/modules/onboarding/slices/onboarding.ts
  apps/frontend/src/modules/quiz/libs/types/types.ts
  apps/frontend/src/modules/quiz/quiz-api.ts
  apps/frontend/src/modules/quiz/quiz.ts
  apps/frontend/src/modules/quiz/slices/actions.ts
  apps/frontend/src/modules/quiz/slices/quiz.slice.ts
  apps/frontend/src/modules/quiz/slices/quiz.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/onboarding/libs/constants/constants.ts
  apps/frontend/src/pages/onboarding/libs/constants/first-question-index.constant.ts
  apps/frontend/src/pages/onboarding/libs/constants/onboarding-form-default-values.contant.ts
  apps/frontend/src/pages/onboarding/onboarding.tsx
  apps/frontend/src/pages/quiz/libs/components/balance-wheel/balance-wheel.tsx
  apps/frontend/src/pages/quiz/libs/components/components.ts
  apps/frontend/src/pages/quiz/libs/components/onboarding/libs/components/components.ts
  apps/frontend/src/pages/quiz/libs/components/onboarding/libs/components/onboarding-answer/onboarding-answer.tsx
  apps/frontend/src/pages/quiz/libs/components/onboarding/libs/components/onboarding-answer/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/onboarding/libs/enums/button-label.enum.ts
  apps/frontend/src/pages/quiz/libs/components/onboarding/libs/enums/enums.ts
  apps/frontend/src/pages/quiz/libs/components/onboarding/libs/types/onboarding-form-values.type.ts
  apps/frontend/src/pages/quiz/libs/components/onboarding/libs/types/types.ts
  apps/frontend/src/pages/quiz/libs/components/onboarding/onboarding.tsx
  apps/frontend/src/pages/quiz/libs/components/onboarding/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/quiz-form/quiz-form.tsx
  apps/frontend/src/pages/quiz/libs/constants/constants.ts
  apps/frontend/src/pages/quiz/libs/constants/quiz-form-default-values.constant.ts
  apps/frontend/src/pages/quiz/libs/enums/step.ts
  apps/frontend/src/pages/quiz/libs/helpers/get-onboarding-default-values.helper.ts
  apps/frontend/src/pages/quiz/libs/helpers/get-quiz-default-values.helper.ts
  apps/frontend/src/pages/quiz/libs/helpers/helpers.ts
  apps/frontend/src/pages/quiz/libs/types/quiz-form-values.types.ts
  apps/frontend/src/pages/quiz/libs/types/types.ts
  apps/frontend/src/pages/quiz/quiz.tsx
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/modules/onboarding/libs/enums/onboarding-api-path.enum.ts
  packages/shared/src/modules/onboarding/libs/types/onboarding-user-answer-dto.type.ts
  packages/shared/src/modules/onboarding/libs/types/types.ts
  packages/shared/src/modules/onboarding/onboarding.ts
  packages/shared/src/modules/users/libs/types/user-dto.type.ts
Labels: frontend, backend, root, shared

#450 fix(backend): swagger docs and uploading file key bb-173
  apps/backend/src/modules/files/file.service.ts
  apps/backend/src/modules/users/user.controller.ts
Labels: backend

#451 feat(backend/shared): add action buttons to tasks bb-362
  apps/backend/src/libs/modules/controller/controller.ts
  apps/backend/src/modules/tasks/libs/constants/constants.ts
  apps/backend/src/modules/tasks/libs/hooks/check-access-to-task.hook.ts
  apps/backend/src/modules/tasks/libs/hooks/hooks.ts
  apps/backend/src/modules/tasks/libs/types/types.ts
  apps/backend/src/modules/tasks/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/tasks/task.controller.ts
  apps/backend/src/modules/tasks/task.repository.ts
  apps/backend/src/modules/tasks/task.service.ts
  apps/backend/src/modules/users/libs/hooks/check-access-to-user-data.hook.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/tasks/libs/enums/enums.ts
  packages/shared/src/modules/tasks/libs/enums/task-validation-message.enum.ts
  packages/shared/src/modules/tasks/libs/enums/tasks-api-path.enum.ts
  packages/shared/src/modules/tasks/libs/types/task-update-parameters-dto.type.ts
  packages/shared/src/modules/tasks/libs/types/task-update-request-dto.type.ts
  packages/shared/src/modules/tasks/libs/types/types.ts
  packages/shared/src/modules/tasks/libs/validation-schemas/task-update.validation-schema.ts
  packages/shared/src/modules/tasks/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/tasks/tasks.ts
Labels: backend, shared

#458 feat(frontend): New design for toast messages bb-372
  apps/frontend/src/libs/components/notification/libs/constants/constants.ts
  apps/frontend/src/libs/components/notification/libs/constants/notification-duration.constant.ts
  apps/frontend/src/libs/components/notification/notification.tsx
Labels: frontend, adjustment

#448 feat(frontend): upload a new avatar bb-341
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/modules/api/base-http-api.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/pages/profile/libs/components/components.ts
  apps/frontend/src/pages/profile/libs/components/update-avatar-form/styles.module.css
  apps/frontend/src/pages/profile/libs/components/update-avatar-form/update-avatar-form.tsx
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
  packages/shared/src/libs/enums/content-type.enum.ts
Labels: frontend, shared

#463 chore(frontend): adjust quiz intro button label bb-426
  apps/frontend/src/pages/quiz/libs/components/introduction/introduction.tsx
Labels: frontend, adjustment

#471 fix(mobile): Sign in" link on the "Create an account" page is inactive bb-461
  apps/mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  apps/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Labels: mobile

#468 fix(frontend): Flow after sign up bb-242
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/pages/quiz/libs/components/analyzing/analyzing.tsx
  apps/frontend/src/pages/quiz/libs/components/quiz-form/quiz-form.tsx
  apps/frontend/src/pages/quiz/quiz.tsx
Labels: frontend

#475 feat(frontend): add default answer and quick tip bb-460
  apps/frontend/src/libs/components/checkbox/checkbox.tsx
  apps/frontend/src/libs/components/checkbox/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/notification-questions/libs/constants/notification-questions-form-default-values.constant.ts
  apps/frontend/src/pages/quiz/libs/components/notification-questions/notification-questions.tsx
Labels: frontend

#481 refactor(mobile): fix issues with quality criterias bb-480
  apps/mobile/src/libs/components/wheel/libs/helpers/get-sector-parameters/get-sector-parameters.helper.ts
  apps/mobile/src/navigations/root/root.tsx
  apps/mobile/src/screens/notification-questions/notification-questions.tsx
  apps/mobile/src/screens/onboarding/onboarding.tsx
  apps/mobile/src/screens/tasks/tasks.tsx
Labels: mobile

#455 feat(mobile): edit wheel manually bb-344
  apps/mobile/src/libs/components/checkbox/checkbox.tsx
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/gradient-slider/gradient-slider.tsx
  apps/mobile/src/libs/components/gradient-slider/libs/enums/slider-config.enum.ts
  apps/mobile/src/libs/components/gradient-slider/libs/enums/slider-style.enum.ts
  apps/mobile/src/libs/components/gradient-slider/styles.ts
  apps/mobile/src/libs/components/multiple-slider-input/multiple-slider-input.tsx
  apps/mobile/src/libs/components/page-switcher/page-switcher.tsx
  apps/mobile/src/libs/components/page-switcher/style.ts
  apps/mobile/src/libs/components/slider-content/constants/constants.ts
  apps/mobile/src/libs/components/slider-content/slider-content.tsx
  apps/mobile/src/libs/enums/navigation/bottom-tab-screen-name.enum.ts
  apps/mobile/src/libs/helpers/create-radio-button-properties/create-radio-button-properties.helper.ts
  apps/mobile/src/libs/helpers/get-gradient-colors-for-category/get-gradient-colors-for-category.helper.ts
  apps/mobile/src/libs/helpers/helpers.ts
  apps/mobile/src/libs/maps/category-to-colors/category-to-colors.map.ts
  apps/mobile/src/libs/maps/maps.ts
  apps/mobile/src/libs/types/navigation/bottom-tab-navigation-parameter-list.type.ts
  apps/mobile/src/libs/types/slider/slider.ts
  apps/mobile/src/navigations/bottom-tabs-navigator/bottom-tabs-navigator.tsx
  apps/mobile/src/navigations/bottom-tabs-navigator/wheel/wheel.tsx
  apps/mobile/src/packages/quiz/libs/types/types.ts
  apps/mobile/src/packages/quiz/libs/validation-schemas/validation-schemas.ts
  apps/mobile/src/packages/quiz/quiz-api.ts
  apps/mobile/src/packages/quiz/quiz.ts
  apps/mobile/src/screens/edit-wheel-results/edit-wheel-results.tsx
  apps/mobile/src/screens/edit-wheel-results/libs/components/componets.ts
  apps/mobile/src/screens/edit-wheel-results/libs/components/scores-edit-form/scores-edit-form.tsx
  apps/mobile/src/screens/edit-wheel-results/libs/components/scores-edit-form/styles.ts
  apps/mobile/src/screens/edit-wheel-results/libs/constants/constants.ts
  apps/mobile/src/screens/edit-wheel-results/libs/enums/enums.ts
  apps/mobile/src/screens/edit-wheel-results/styles.ts
  apps/mobile/src/screens/tasks/tasks.tsx
  apps/mobile/src/screens/wheel/styles.ts
  apps/mobile/src/screens/wheel/wheel.tsx
  apps/mobile/src/slices/quiz/actions.ts
  apps/mobile/src/slices/quiz/quiz.slice.ts
  apps/mobile/src/slices/quiz/quiz.ts
  package-lock.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/get-formatted-date/get-formatted-date.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
Labels: mobile, root, shared

#476 feat(mobile): onboarding and quiz screen appearance logic bb-360
  apps/mobile/src/libs/enums/enums.ts
  apps/mobile/src/libs/enums/navigation/navigation.ts
  apps/mobile/src/libs/enums/navigation/questions-stack-name.enum.ts
  apps/mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  apps/mobile/src/libs/types/navigation/navigation-item.type.ts
  apps/mobile/src/libs/types/navigation/navigation.ts
  apps/mobile/src/libs/types/navigation/questions-stack-navigation-parameter-list.type.ts
  apps/mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  apps/mobile/src/libs/types/types.ts
  apps/mobile/src/navigations/navigations.tsx
  apps/mobile/src/navigations/questions-stack/questions-stack.tsx
  apps/mobile/src/navigations/root/libs/hooks/hooks.ts
  apps/mobile/src/navigations/root/libs/hooks/use-conditional-screens.hook.ts
  apps/mobile/src/navigations/root/root.tsx
  apps/mobile/src/packages/onboarding/libs/types/types.ts
  apps/mobile/src/packages/onboarding/onboarding-api.ts
  apps/mobile/src/packages/onboarding/onboarding.ts
  apps/mobile/src/packages/quiz/libs/types/types.ts
  apps/mobile/src/packages/quiz/quiz-api.ts
  apps/mobile/src/packages/quiz/quiz.ts
  apps/mobile/src/screens/notification-questions/libs/types/root-stack-parameter-list.type.ts
  apps/mobile/src/screens/notification-questions/notification-questions.tsx
  apps/mobile/src/screens/onboarding/libs/types/root-stack-parameter-list.type.ts
  apps/mobile/src/screens/onboarding/onboarding.tsx
  apps/mobile/src/screens/quiz-entry/quiz-entry.tsx
  apps/mobile/src/screens/quiz/libs/components/content/content.tsx
  apps/mobile/src/screens/quiz/libs/types/root-stack-parameter-list.type.ts
  apps/mobile/src/screens/quiz/libs/types/types.ts
  apps/mobile/src/screens/quiz/quiz.tsx
  apps/mobile/src/screens/welcome/welcome.tsx
  apps/mobile/src/screens/wheel-loading/wheel-loading.tsx
  apps/mobile/src/slices/auth/auth.slice.ts
  apps/mobile/src/slices/onboarding/actions.ts
  apps/mobile/src/slices/onboarding/onboarding.slice.ts
  apps/mobile/src/slices/onboarding/onboarding.ts
  apps/mobile/src/slices/quiz/actions.ts
  apps/mobile/src/slices/quiz/quiz.slice.ts
  apps/mobile/src/slices/quiz/quiz.ts
Labels: mobile

#456 feat(backend/frontend/shared): change password funcionality in profile screen bb-417
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/profile/libs/components/components.ts
  apps/frontend/src/pages/profile/libs/components/update-password-form/libs/constants/constants.ts
  apps/frontend/src/pages/profile/libs/components/update-password-form/styles.module.css
  apps/frontend/src/pages/profile/libs/components/update-password-form/update-password-form.tsx
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/auth/libs/enums/auth-api-path.enum.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-update-password-form-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-update-password-request-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-update-password.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/users/users.ts
Labels: enhancement, frontend, backend, shared

#490 feat(frontend): move signout button from sidebar to profile bb-308
  apps/frontend/src/libs/components/popup/styles.module.css
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/pages/profile/libs/components/update-password-form/update-password-form.tsx
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
  package-lock.json
Labels: frontend, root

#491 chore(frontend): Quiz page padding adjustment bb-381
  apps/frontend/src/pages/quiz/libs/components/analyzing/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/balance-wheel/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/introduction/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/motivation/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/quiz-form/styles.module.css
Labels: frontend, adjustment

#478 feat(backend/frontend): Insights bb-444
  apps/backend/src/libs/enums/relation-name.enum.ts
  apps/backend/src/modules/users/libs/enums/enums.ts
  apps/backend/src/modules/users/libs/enums/task-completion.enum.ts
  apps/backend/src/modules/users/libs/helpers/completed-task-percentage.helper.ts
  apps/backend/src/modules/users/libs/helpers/helpers.ts
  apps/backend/src/modules/users/libs/types/user-with-avatar-file.type.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/frontend/src/libs/components/balance-wheel-chart/styles.module.css
  apps/frontend/src/pages/root/components/circular-progress/circular-progress.tsx
  apps/frontend/src/pages/root/components/circular-progress/styles.module.css
  apps/frontend/src/pages/root/components/user-wheel/user-wheel.tsx
  packages/shared/src/modules/users/libs/types/user-dto.type.ts
Labels: frontend, backend, shared

#497 fix(backend): fix `/quiz/questions` endpoint doc bb-437
  apps/backend/src/modules/quiz/quiz.controller.ts
Labels: bug, documentation, backend

#499 fix(frontend): different text alignment in onboarding questions bb-493
  apps/frontend/src/libs/components/input/styles.module.css
Labels: frontend

#486 feat(frontend): add action buttons to tasks bb-362
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/check-black.svg
  apps/frontend/src/assets/img/close-small.svg
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/switch/styles.module.css
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/tasks/libs/enums/enums.ts
  apps/frontend/src/modules/tasks/libs/types/task-update-payload.type.ts
  apps/frontend/src/modules/tasks/libs/types/types.ts
  apps/frontend/src/modules/tasks/slices/actions.ts
  apps/frontend/src/modules/tasks/slices/tasks.slice.ts
  apps/frontend/src/modules/tasks/slices/tasks.ts
  apps/frontend/src/modules/tasks/tasks-api.ts
  apps/frontend/src/modules/tasks/tasks.ts
  apps/frontend/src/pages/root/components/user-wheel/styles.module.css
  apps/frontend/src/pages/root/components/user-wheel/user-wheel.tsx
  apps/frontend/src/pages/tasks/libs/components/components.ts
  apps/frontend/src/pages/tasks/libs/components/past-task-status/past-task-status.tsx
  apps/frontend/src/pages/tasks/libs/components/past-task-status/styles.module.css
  apps/frontend/src/pages/tasks/libs/components/task-card/styles.module.css
  apps/frontend/src/pages/tasks/libs/components/task-card/task-card.tsx
  apps/frontend/src/pages/tasks/libs/enums/enums.ts
  apps/frontend/src/pages/tasks/libs/enums/tasks-mode.enum.ts
  apps/frontend/src/pages/tasks/styles.module.css
  apps/frontend/src/pages/tasks/tasks.tsx
Labels: frontend

#484 feat(backend/frontend/shared): Add notes to tasks bb-419
  apps/backend/src/db/migrations/20240918040515_add_task_notes_table.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/modules/tasks/libs/types/types.ts
  apps/backend/src/modules/tasks/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/tasks/task-note.entity.ts
  apps/backend/src/modules/tasks/task-note.model.ts
  apps/backend/src/modules/tasks/task.controller.ts
  apps/backend/src/modules/tasks/task.model.ts
  apps/backend/src/modules/tasks/task.repository.ts
  apps/backend/src/modules/tasks/task.service.ts
  apps/backend/src/modules/tasks/tasks.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/modules/tasks/libs/enums/enums.ts
  packages/shared/src/modules/tasks/libs/enums/task-note-validation-message.enum.ts
  packages/shared/src/modules/tasks/libs/enums/task-note-validation-rule.enum.ts
  packages/shared/src/modules/tasks/libs/enums/tasks-api-path.enum.ts
  packages/shared/src/modules/tasks/libs/types/task-note-dto.type.ts
  packages/shared/src/modules/tasks/libs/types/task-note-parameters-dto.type.ts
  packages/shared/src/modules/tasks/libs/types/task-note-request-dto.type.ts
  packages/shared/src/modules/tasks/libs/types/types.ts
  packages/shared/src/modules/tasks/libs/validation-schemas/task-note.validation-schema.ts
  packages/shared/src/modules/tasks/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/tasks/tasks.ts
Labels: backend, shared

#509 feat(frontend): add hover design on sidebar nav item bb-371
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/components/link/styles.module.css
  package-lock.json
Labels: enhancement, frontend, root

#506 fix(frontend): Balance Wheel animation bb-204
  apps/frontend/src/libs/components/balance-wheel-chart/libs/constants/wheel-chart-config.constant.ts
Labels: frontend

#507 feat(backend/frontend/shared): change password funcionality in profile screen bb-417
  apps/frontend/src/pages/profile/libs/components/update-password-form/update-password-form.tsx
Labels: enhancement, frontend

#502 fix(frontend): incorrect redirection after account creation attempt with existing email bb-483
  apps/frontend/src/pages/auth/auth.tsx
Labels: frontend

#495 fix(frontend): add missing `/profile` navigation on header bb-464
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/libs/components/components.ts
  apps/frontend/src/libs/components/header/libs/components/header-user-information/header-user-information.tsx
  apps/frontend/src/libs/components/header/libs/components/header-user-information/styles.module.css
Labels: bug, frontend

#510 chore(frontend): Adjust sign-out confirmation msg bb-477
  apps/frontend/src/libs/components/popup/libs/constants/constants.ts
  apps/frontend/src/libs/components/popup/popup.tsx
  apps/frontend/src/libs/components/popup/styles.module.css
  apps/frontend/src/libs/enums/popup-message.enum.ts
Labels: frontend, adjustment

#485 refactor(frontend/backend): fix issues with quality criterias bb-479
  apps/backend/src/modules/auth/libs/helpers/create-reset-password-email.helper.ts
  apps/backend/src/modules/quiz-answers/quiz-answer.service.ts
  apps/frontend/src/libs/components/balance-wheel-chart/balance-wheel-chart.tsx
  apps/frontend/src/libs/components/checkbox/checkbox.tsx
  apps/frontend/src/libs/components/protected-route/libs/helpers/check-has-auth-wrapper.helper.ts
  apps/frontend/src/libs/components/quiz-categories-form/quiz-categories-form.tsx
  apps/frontend/src/libs/components/slider/libs/constants/constants.ts
  apps/frontend/src/libs/components/slider/libs/enums/enums.ts
  apps/frontend/src/libs/components/slider/libs/enums/slider-value.enum.ts
  apps/frontend/src/libs/components/slider/slider.tsx
  apps/frontend/src/libs/hooks/use-query/use-query-hook.ts
  apps/frontend/src/modules/onboarding/slices/onboarding.slice.ts
  apps/frontend/src/modules/quiz/slices/quiz.slice.ts
  apps/frontend/src/pages/quiz/libs/components/onboarding/onboarding.tsx
  apps/mobile/src/libs/constants/constants.ts
  apps/mobile/src/screens/onboarding/onboarding.tsx
Labels: frontend, backend, mobile

#519 feat(frontend): Balance Wheel animation bb-204
  apps/frontend/src/libs/components/balance-wheel-chart/libs/constants/wheel-chart-config.constant.ts
Labels: frontend, adjustment

#518 feat(mobile): Update "And the last step" screens - request from PO bb-514
  apps/mobile/src/screens/notification-questions/libs/components/notification-frequency/notification-frequency-question.tsx
  apps/mobile/src/screens/notification-questions/libs/components/notification-task-days/notification-task-days.tsx
  apps/mobile/src/screens/notification-questions/libs/constants/notification-questions-form-default-values.constant.ts
  apps/mobile/src/screens/notification-questions/libs/enums/day-of-week.enum.ts
  apps/mobile/src/screens/notification-questions/libs/enums/enums.ts
  packages/shared/src/modules/users/libs/enums/notification-answers-validation-rule.enum.ts
Labels: enhancement, mobile, shared

#522 build: update max upload size bb-521
  .github/labeler.yml
  .platform/nginx/00_myconf.config
  .platform/nginx/conf.d/proxy.conf
Labels: workflows, config

#512 feat(frontend/shared): change password funcionality in profile screen bb-417
  apps/frontend/src/pages/auth/libs/components/reset-password-form/reset-password-form.tsx
  apps/frontend/src/pages/auth/libs/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/profile/libs/components/update-password-form/libs/enums/enums.ts
  apps/frontend/src/pages/profile/libs/components/update-password-form/update-password-form.tsx
  apps/mobile/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  packages/shared/src/modules/auth/libs/enums/confirm-password-custom-validation.enum.ts
Labels: bug, frontend, mobile, shared

#517 feat(frontend): the wheel parts should adjust to new estimations immediately bb-472
  apps/frontend/src/modules/quiz/slices/quiz.slice.ts
  apps/frontend/src/pages/root/components/user-wheel/libs/components/scores-edit-modal/scores-edit-modal.tsx
Labels: enhancement, frontend

#489 feat(mobile): add Intro motivation screen bb-378
  apps/mobile/.env.example
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/link/link.tsx
  apps/mobile/src/libs/components/typing-text-view/libs/constants/constants.ts
  apps/mobile/src/libs/components/typing-text-view/libs/enums/enums.ts
  apps/mobile/src/libs/components/typing-text-view/libs/enums/typing-text-animation.ts
  apps/mobile/src/libs/components/typing-text-view/libs/hooks/hooks.tsx
  apps/mobile/src/libs/components/typing-text-view/libs/hooks/use-typing-text/use-typing-text.hook.tsx
  apps/mobile/src/libs/components/typing-text-view/typing-text-view.tsx
  apps/mobile/src/libs/enums/navigation/questions-stack-name.enum.ts
  apps/mobile/src/libs/types/navigation/questions-stack-navigation-parameter-list.type.ts
  apps/mobile/src/navigations/questions-stack/questions-stack.tsx
  apps/mobile/src/screens/introduction/introduction.tsx
  apps/mobile/src/screens/introduction/styles.ts
  apps/mobile/src/screens/welcome/libs/constants/constants.ts
  apps/mobile/src/screens/welcome/welcome.tsx
Labels: mobile, env

#500 feat(mobile): forgot password functionality bb-358
  apps/mobile/android/app/assetlinks.json
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/src/libs/components/app/app.tsx
  apps/mobile/src/libs/components/app/libs/constants/constants.ts
  apps/mobile/src/libs/enums/app/app.ts
  apps/mobile/src/libs/enums/app/notification-message.enum.ts
  apps/mobile/src/libs/enums/enums.ts
  apps/mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  apps/mobile/src/libs/packages/config/base-config.package.ts
  apps/mobile/src/libs/packages/config/libs/types/environment-schema.type.ts
  apps/mobile/src/libs/packages/store/store.package.ts
  apps/mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  apps/mobile/src/libs/types/types.ts
  apps/mobile/src/navigations/root/libs/hooks/use-conditional-screens.hook.ts
  apps/mobile/src/packages/auth/auth-api.ts
  apps/mobile/src/packages/users/libs/types/types.ts
  apps/mobile/src/packages/users/libs/validation-schemas/validation-schemas.ts
  apps/mobile/src/packages/users/users.ts
  apps/mobile/src/screens/auth/auth.tsx
  apps/mobile/src/screens/auth/components/components.tsx
  apps/mobile/src/screens/auth/libs/components/components.tsx
  apps/mobile/src/screens/auth/libs/components/forgot-password-form/forgot-password-form.tsx
  apps/mobile/src/screens/auth/libs/components/forgot-password-form/libs/constants.ts
  apps/mobile/src/screens/auth/libs/components/reset-password-form/libs/constants.ts
  apps/mobile/src/screens/auth/libs/components/reset-password-form/reset-password-form.tsx
  apps/mobile/src/screens/auth/libs/components/sign-in-form/libs/constants.ts
  apps/mobile/src/screens/auth/libs/components/sign-in-form/sign-in-form.tsx
  apps/mobile/src/screens/auth/libs/components/sign-up-form/libs/constants/constants.ts
  apps/mobile/src/screens/auth/libs/components/sign-up-form/sign-up-form.tsx
  apps/mobile/src/screens/auth/libs/enums/enums.ts
  apps/mobile/src/slices/auth/actions.ts
  apps/mobile/src/slices/auth/auth.slice.ts
  apps/mobile/src/slices/auth/auth.ts
Labels: mobile

#524 feat(mobile): Added log out confirmation bb-366
  apps/mobile/src/libs/components/button/button.tsx
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/icon/gradient-icon.tsx
  apps/mobile/src/libs/components/modal/modal.tsx
  apps/mobile/src/libs/components/modal/styles.ts
  apps/mobile/src/libs/enums/app/base-color.enum.ts
  apps/mobile/src/screens/settings/libs/components/components.ts
  apps/mobile/src/screens/settings/libs/components/sign-out-modal/sign-out-modal.tsx
  apps/mobile/src/screens/settings/libs/components/sign-out-modal/styles.ts
  apps/mobile/src/screens/settings/settings.tsx
Labels: mobile

#526 feat(mobile): Toast messages redesign bb-516
  apps/mobile/src/libs/components/custom-toast/custom-toast.tsx
  apps/mobile/src/libs/components/custom-toast/libs/helpers/get-toast-color-scheme-by-type.helper.ts
  apps/mobile/src/libs/components/custom-toast/libs/helpers/get-toast-icon-name-by-type.helper.ts
  apps/mobile/src/libs/components/custom-toast/libs/helpers/helpers.ts
  apps/mobile/src/libs/components/custom-toast/styles.ts
  apps/mobile/src/libs/components/toast-message/toast-message.tsx
  apps/mobile/src/libs/enums/app/base-color.enum.ts
  apps/mobile/src/libs/packages/toast-message/toast-config.tsx
  apps/mobile/src/libs/packages/toast-message/toast-message.ts
  apps/mobile/src/libs/styles/global-styles/box-shadow.ts
  apps/mobile/src/libs/styles/global-styles/global-styles.ts
  apps/mobile/src/libs/types/types.ts
Labels: mobile

#529 fix(mobile): Toast messages redesign bb-516
  apps/mobile/src/libs/components/custom-toast/custom-toast.tsx
  apps/mobile/src/libs/components/custom-toast/styles.ts
  apps/mobile/src/libs/components/text/text.tsx
Labels: mobile

#527 fix(backend): fix swagger documentation in ai assistant module bb-203
  apps/backend/src/modules/ai-assistant/ai-assistant.controller.ts
  apps/backend/src/modules/ai-assistant/ai-assistant.service.ts
  apps/backend/src/modules/ai-assistant/libs/types/types.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/ai-assistant/ai-assistant.ts
  packages/shared/src/modules/ai-assistant/libs/types/ai-assistant-suggest-task-request-dto.ts
  packages/shared/src/modules/ai-assistant/libs/types/types.ts
  packages/shared/src/modules/ai-assistant/libs/validation-schemas/task-suggestion-request.validation-schema.ts
Labels: backend, shared

#536 feat(shared): requirements for authorization pages for web version bb-209
  packages/shared/src/modules/users/libs/enums/user-validation-regex-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: shared

#539 fix(backend): update updatedAt for scores, onboarding and quiz answers bb-533
  apps/backend/src/modules/categories/category.model.ts
  apps/backend/src/modules/categories/category.repository.ts
  apps/backend/src/modules/categories/libs/types/category-score-model.type.ts
  apps/backend/src/modules/categories/libs/types/types.ts
  apps/backend/src/modules/categories/score.model.ts
  apps/backend/src/modules/onboarding/onboarding-answer.model.ts
  apps/backend/src/modules/onboarding/onboarding-user-answer.model.ts
  apps/backend/src/modules/quiz-answers/quiz-answer.model.ts
  apps/backend/src/modules/quiz-answers/quiz-user-answer.model.ts
Labels: backend

#548 feat(frontend): update ui on profile screen bb-542
  apps/frontend/src/assets/img/sign-out.svg
  apps/frontend/src/assets/img/upload.svg
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/profile/libs/components/update-avatar-form/update-avatar-form.tsx
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
Labels: frontend

#511 feat(mobile): task card bb-321
  apps/mobile/src/assets/svg/clock-active.svg
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/deadline-countdown/deadline-countdown.tsx
  apps/mobile/src/libs/components/deadline-countdown/libs/constants/constants.ts
  apps/mobile/src/libs/components/deadline-countdown/libs/enums/enums.ts
  apps/mobile/src/libs/components/deadline-countdown/libs/enums/milliseconds-per-unit.enum.ts
  apps/mobile/src/libs/components/deadline-countdown/libs/enums/time-pad.enum.ts
  apps/mobile/src/libs/components/deadline-countdown/libs/helpers/get-formatted-countdown-units/get-formatted-countdown-units.helper.tsx
  apps/mobile/src/libs/components/deadline-countdown/libs/helpers/helpers.ts
  apps/mobile/src/libs/components/deadline-countdown/libs/hooks/hooks.ts
  apps/mobile/src/libs/components/deadline-countdown/libs/hooks/use-countdown.hook.ts
  apps/mobile/src/libs/components/page-switcher/page-switcher.tsx
  apps/mobile/src/libs/components/page-switcher/style.ts
  apps/mobile/src/libs/components/tag/tag.tsx
  apps/mobile/src/libs/components/task-action-button/styles.ts
  apps/mobile/src/libs/components/task-action-button/task-action-button.tsx
  apps/mobile/src/libs/components/task-card/styles.ts
  apps/mobile/src/libs/components/task-card/task-card.tsx
  apps/mobile/src/libs/components/task-status-label/styles.ts
  apps/mobile/src/libs/components/task-status-label/task-status-label.tsx
  apps/mobile/src/libs/constants/constants.ts
  apps/mobile/src/libs/constants/countdown-expired.constant.ts
  apps/mobile/src/libs/enums/app/base-color.enum.ts
  apps/mobile/src/libs/enums/enums.ts
  apps/mobile/src/libs/helpers/get-status-properties/get-status-properties.helper.ts
  apps/mobile/src/libs/helpers/helpers.ts
  apps/mobile/src/libs/packages/store/store.package.ts
  apps/mobile/src/libs/types/countdown/countdown.ts
  apps/mobile/src/libs/types/task-status-style/task-status-style.type.ts
  apps/mobile/src/libs/types/types.ts
  apps/mobile/src/packages/tasks/libs/enums/enums.ts
  apps/mobile/src/packages/tasks/libs/types/task-update-payload.type.ts
  apps/mobile/src/packages/tasks/libs/types/types.ts
  apps/mobile/src/packages/tasks/tasks-api.ts
  apps/mobile/src/packages/tasks/tasks.ts
  apps/mobile/src/screens/tasks/libs/enums/enums.ts
  apps/mobile/src/screens/tasks/libs/enums/task-tab.enum.ts
  apps/mobile/src/screens/tasks/libs/enums/tasks-mode.enum.ts
  apps/mobile/src/screens/tasks/styles.ts
  apps/mobile/src/screens/tasks/tasks.tsx
  apps/mobile/src/slices/task/actions.ts
  apps/mobile/src/slices/task/task.slice.ts
  apps/mobile/src/slices/task/task.ts
Labels: mobile

#549 fix(mobile): reset stored data on sign out bb-534
  apps/mobile/src/slices/onboarding/onboarding.slice.ts
  apps/mobile/src/slices/quiz/quiz.slice.ts
  apps/mobile/src/slices/task/task.slice.ts
  apps/mobile/src/slices/users/users.slice.ts
Labels: mobile

#531 feat(frontend): Profile Page Responsiveness bb-513
  apps/frontend/src/pages/profile/libs/components/components.ts
  apps/frontend/src/pages/profile/libs/components/profile-section/profile-section.tsx
  apps/frontend/src/pages/profile/libs/components/profile-section/styles.module.css
  apps/frontend/src/pages/profile/libs/components/update-password-form/styles.module.css
  apps/frontend/src/pages/profile/libs/components/update-user-form/styles.module.css
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
Labels: enhancement, frontend

#535 feat(backend/frontend/shared): Add notes to tasks bb-419
  apps/backend/src/modules/tasks/libs/enums/enums.ts
  apps/backend/src/modules/tasks/task.controller.ts
  apps/backend/src/modules/tasks/task.repository.ts
  apps/frontend/src/assets/img/arrow-next.svg
  apps/frontend/src/assets/img/note.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-click-outside/use-click-outside.hook.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/tasks/libs/types/types.ts
  apps/frontend/src/modules/tasks/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/tasks/slices/actions.ts
  apps/frontend/src/modules/tasks/slices/tasks.slice.ts
  apps/frontend/src/modules/tasks/slices/tasks.ts
  apps/frontend/src/modules/tasks/tasks-api.ts
  apps/frontend/src/modules/tasks/tasks.ts
  apps/frontend/src/pages/tasks/libs/components/components.ts
  apps/frontend/src/pages/tasks/libs/components/expired-tasks-modal/expired-tasks-modal.tsx
  apps/frontend/src/pages/tasks/libs/components/notes/libs/constants/constants.ts
  apps/frontend/src/pages/tasks/libs/components/notes/notes.tsx
  apps/frontend/src/pages/tasks/libs/components/notes/styles.module.css
  apps/frontend/src/pages/tasks/libs/components/task-card/task-card.tsx
  apps/frontend/src/pages/tasks/tasks.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/sort-order.enum.ts
  packages/shared/src/modules/tasks/libs/enums/tasks-api-path.enum.ts
  readme.md
Labels: frontend, backend, root, shared

#555 chore(frontend): Update the onboarding notification question bb-498
  apps/frontend/src/pages/quiz/libs/components/notification-questions/notification-questions.tsx
  apps/frontend/src/pages/quiz/libs/components/notification-questions/styles.module.css
Labels: frontend, adjustment

#547 feat(frontend): popup when user leaves page without saving bb-465
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/popup/popup.tsx
  apps/frontend/src/libs/components/popup/styles.module.css
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/pages/settings/settings.tsx
Labels: frontend

#552 feat(shared): requirements for authorization pages for web version bb-209
  packages/shared/src/modules/users/libs/enums/user-validation-regex-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: bug, shared

#530 feat(frontend): add discard changes button on edit wheel screen bb-467
  apps/frontend/src/libs/components/slider/slider.tsx
  apps/frontend/src/pages/root/components/user-wheel/libs/components/scores-edit-modal/libs/constants/constants.ts
  apps/frontend/src/pages/root/components/user-wheel/libs/components/scores-edit-modal/scores-edit-modal.tsx
  apps/frontend/src/pages/root/components/user-wheel/libs/components/scores-edit-modal/styles.module.css
Labels: enhancement, frontend

#558 feat(frontend): add hover effect on username bb-556
  apps/frontend/src/libs/components/header/libs/components/header-user-information/styles.module.css
Labels: frontend

#559 fix(frontend): fix unrendered icon button on sidebar component bb-554
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
  package-lock.json
Labels: bug, frontend, root

#557 feat(frontend/backend/shared): Add date on the "My wheel results" page bb-494
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/modules/categories/category.repository.ts
  apps/backend/src/modules/categories/category.service.ts
  apps/backend/src/modules/categories/libs/constants/constants.ts
  apps/backend/src/modules/categories/libs/types/types.ts
  apps/backend/src/modules/quiz/quiz.controller.ts
  apps/frontend/src/modules/quiz/libs/types/types.ts
  apps/frontend/src/modules/quiz/quiz-api.ts
  apps/frontend/src/modules/quiz/quiz.ts
  apps/frontend/src/modules/quiz/slices/actions.ts
  apps/frontend/src/modules/quiz/slices/quiz.slice.ts
  apps/frontend/src/pages/root/components/user-wheel/libs/helpers/helpers.ts
  apps/frontend/src/pages/root/components/user-wheel/styles.module.css
  apps/frontend/src/pages/root/components/user-wheel/user-wheel.tsx
  apps/mobile/src/screens/wheel/wheel.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/get-formatted-date/get-formatted-date.helper.ts
  packages/shared/src/libs/helpers/get-local-datestring/get-local-datestring.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/modules/quiz/libs/types/quiz-scores-get-all-response-dto.type.ts
  packages/shared/src/modules/quiz/libs/types/quiz-scores-update-response-dto.type.ts
  packages/shared/src/modules/quiz/libs/types/types.ts
  packages/shared/src/modules/quiz/quiz.ts
Labels: frontend, backend, mobile, shared

#562 feat(frontend): add close icon bb-487
  apps/frontend/src/pages/profile/profile.tsx
Labels: frontend

#564 fix(frontend): adjust a distance between text and color point element bb-515
  apps/frontend/src/libs/components/balance-wheel-chart/libs/constants/constants.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/enums/dot-offset-x.enum.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/enums/dot-offset-y.enum.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/enums/enums.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/enums/sublabel-offset-x.enum.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/helpers/get-dot-offset-y/get-dot-offset-y.helper.ts
  apps/frontend/src/libs/components/balance-wheel-chart/libs/helpers/get-sublabel-offset-x/get-sublabel-offset-x.helper.ts
Labels: frontend

#565 fix(frontend): Add missing dot on sign-out confirmation msg bb-477
  apps/frontend/src/libs/enums/popup-message.enum.ts
Labels: frontend, adjustment

#567 fix(frontend): fix invalid z-index usage bb-162
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/loader/styles.module.css
  apps/frontend/src/libs/components/popup/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/components/slider/styles.module.css
  apps/frontend/src/libs/components/task-card/libs/components/category/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/introduction/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/quiz-form/styles.module.css
  apps/frontend/src/pages/tasks/libs/components/expired-tasks-modal/styles.module.css
Labels: bug, frontend

#569 feat(frontend): UI improvement on the forgot password pages bb-422
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/libs/components/forgot-password-form/forgot-password-form.tsx
  apps/frontend/src/pages/auth/libs/components/forgot-password-form/styles.module.css
  apps/frontend/src/pages/auth/libs/components/reset-password-form/reset-password-form.tsx
  apps/frontend/src/pages/auth/libs/components/reset-password-form/styles.module.css
  apps/frontend/src/pages/auth/styles.module.css
Labels: enhancement, frontend

#578 docs: add application schema bb-409
  docs/application-schema/bebalance-dark-theme.drawio.svg
  docs/application-schema/bebalance-light-theme.drawio.svg
  readme.md
Labels: root

#581 feat: update text on "And the last step" screen bb-537
  apps/mobile/src/screens/notification-questions/libs/components/notification-task-days/notification-task-days.tsx
Labels: enhancement, mobile

#583 chore(frontend): Adjust page title bb-540
  apps/frontend/src/pages/root/components/user-wheel/styles.module.css
  apps/frontend/src/pages/settings/settings.tsx
  apps/frontend/src/pages/settings/styles.module.css
Labels: frontend, adjustment

#582 fix(frontend): default browser popup bb-580
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/pages/settings/settings.tsx
Labels: bug, frontend

#591 chore(frontend): adjust onboarding intro typography bb-588
  apps/frontend/src/pages/quiz/libs/components/motivation/styles.module.css
Labels: frontend, adjustment

#590 fix(mobile): edit scores manually bb-344
  apps/mobile/src/libs/components/checkbox-categories-form/checkbox-categories-form.tsx
  apps/mobile/src/libs/helpers/helpers.ts
  apps/mobile/src/libs/helpers/transform-category-to-gradient-colors/transform-category-to-gradient-colors.helper.ts
  apps/mobile/src/libs/helpers/transorm-scores-to-wheel-data/transorm-scores-to-wheel-data.helper.ts
  apps/mobile/src/libs/maps/category-to-gradient-colors/category-to-gradient-colors.map.ts
  apps/mobile/src/libs/maps/maps.ts
  apps/mobile/src/navigations/bottom-tabs-navigator/wheel/wheel.tsx
  apps/mobile/src/navigations/questions-stack/questions-stack.tsx
  apps/mobile/src/navigations/root/libs/hooks/use-conditional-screens.hook.ts
  apps/mobile/src/packages/quiz/libs/types/types.ts
  apps/mobile/src/packages/quiz/quiz-api.ts
  apps/mobile/src/packages/quiz/quiz.ts
  apps/mobile/src/screens/edit-wheel-results/edit-wheel-results.tsx
  apps/mobile/src/screens/quiz/libs/types/root-stack-parameter-list.type.ts
  apps/mobile/src/screens/quiz/quiz.tsx
  apps/mobile/src/screens/wheel/wheel.tsx
  apps/mobile/src/slices/quiz/actions.ts
  apps/mobile/src/slices/quiz/quiz.slice.ts
  apps/mobile/src/slices/quiz/quiz.ts
Labels: mobile

#585 feat(frontend): scroll to top on next and back buttons click bb-290
  apps/frontend/src/pages/quiz/libs/components/quiz-form/libs/constants/constants.ts
  apps/frontend/src/pages/quiz/libs/components/quiz-form/quiz-form.tsx
Labels: frontend

#584 fix(frontend/backend): insights are not updated after user makes actions with tasks bb-561
  apps/backend/src/modules/users/libs/helpers/completed-task-percentage.helper.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/pages/root/components/user-wheel/libs/constants/constants.ts
  apps/frontend/src/pages/root/components/user-wheel/user-wheel.tsx
  apps/frontend/src/pages/tasks/libs/components/task-actions-panel/task-actions-panel.tsx
  apps/frontend/src/pages/tasks/tasks.tsx
Labels: frontend, backend

#597 fix(frontend): saving answer ids second time bb-560
  apps/frontend/src/pages/quiz/libs/components/onboarding/onboarding.tsx
Labels: frontend

#595 feat(mobile): ai chat multi task bb-571
  apps/mobile/src/packages/chat/chat-api.ts
  apps/mobile/src/packages/chat/chat.ts
  apps/mobile/src/packages/chat/libs/enums/buttons-mode.enum.ts
  apps/mobile/src/packages/chat/libs/helpers/helpers.ts
  apps/mobile/src/packages/chat/libs/helpers/process-explained-tasks-messages.helper.ts
  apps/mobile/src/screens/chat/libs/components/chat-box/libs/components/ai-task/ai-task.tsx
  apps/mobile/src/screens/chat/libs/components/chat-buttons/chat-buttons.tsx
  apps/mobile/src/screens/chat/libs/components/chat-buttons/libs/components/accept-regenerate-task-buttons/accept-regenerate-task-buttons.tsx
  apps/mobile/src/screens/chat/libs/components/chat-buttons/libs/components/accept-tasks/constants/constants.ts
  apps/mobile/src/screens/chat/libs/components/chat-buttons/libs/components/accept-tasks/constants/feedback-text.constant.ts
  apps/mobile/src/screens/chat/libs/components/chat-buttons/libs/components/components.ts
  apps/mobile/src/screens/chat/libs/components/chat-buttons/libs/components/explain-accept-task-buttons/explain-accept-task-buttons.tsx
  apps/mobile/src/screens/chat/libs/components/chat-buttons/libs/components/generate-task-buttons/generate-task-buttons.tsx
  apps/mobile/src/screens/chat/libs/components/chat-buttons/libs/constants/ai-response-text.constant.ts
  apps/mobile/src/screens/chat/libs/components/chat-buttons/libs/constants/constants.ts
  apps/mobile/src/screens/chat/libs/components/chat-buttons/libs/constants/explain-text.constant.ts
  apps/mobile/src/screens/chat/libs/components/chat-buttons/libs/types/root-stack-parameter-list.type.ts
  apps/mobile/src/screens/chat/libs/components/chat-buttons/libs/types/types.ts
  apps/mobile/src/screens/chat/libs/components/initial-chat-message/initial-chat-message.tsx
  apps/mobile/src/slices/chat/actions.ts
  apps/mobile/src/slices/chat/chat.slice.ts
  apps/mobile/src/slices/chat/chat.ts
Labels: mobile

#602 feat(mobile): settings screen bb-599
  apps/mobile/src/libs/components/checkbox/checkbox.tsx
  apps/mobile/src/libs/components/multiple-checkbox-input/multiple-checkbox-input.tsx
  apps/mobile/src/libs/constants/constants.ts
  apps/mobile/src/libs/constants/notification-questions-options.constant.ts
  apps/mobile/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/mobile/src/libs/types/notification-questions/notification-questions-form-values.type.ts
  apps/mobile/src/libs/types/notification-questions/notification-questions.ts
  apps/mobile/src/libs/types/types.ts
  apps/mobile/src/screens/notification-questions/libs/components/notification-frequency/notification-frequency-question.tsx
  apps/mobile/src/screens/notification-questions/libs/components/notification-task-days/notification-task-days.tsx
  apps/mobile/src/screens/notification-questions/libs/constants/constants.ts
  apps/mobile/src/screens/notification-questions/libs/constants/notification-questions-form-default-values.constant.ts
  apps/mobile/src/screens/notification-questions/libs/types/types.ts
  apps/mobile/src/screens/notification-questions/notification-questions.tsx
  apps/mobile/src/screens/settings/settings.tsx
  apps/mobile/src/screens/settings/styles.ts
Labels: mobile

#607 fix(mobile): User's avatar should have a circular form bb-603
  apps/mobile/src/libs/components/user-avatar/user-avatar.tsx
Labels: enhancement, mobile

#579 feat: change task after deadline bb-446
  apps/mobile/index.js
  apps/mobile/package.json
  apps/mobile/src/assets/svg/clock-expired.svg
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/deadline-countdown/deadline-countdown.tsx
  apps/mobile/src/libs/components/deadline-countdown/libs/hooks/use-countdown.hook.ts
  apps/mobile/src/libs/components/expired-tasks-modal/expired-tasks-modal.tsx
  apps/mobile/src/libs/components/expired-tasks-modal/styles.ts
  apps/mobile/src/libs/components/page-switcher/style.ts
  apps/mobile/src/libs/components/task-action-button/task-action-button.tsx
  apps/mobile/src/libs/components/task-card/styles.ts
  apps/mobile/src/libs/components/task-card/task-card.tsx
  apps/mobile/src/libs/hooks/hooks.ts
  apps/mobile/src/libs/packages/expired-task-notification/expired-task-notification.package.ts
  apps/mobile/src/libs/packages/expired-task-notification/expired-task-notification.ts
  apps/mobile/src/libs/packages/expired-task-notification/libs/enums/enums.ts
  apps/mobile/src/libs/packages/expired-task-notification/libs/enums/expired-task-notification-setting.enum.ts
  apps/mobile/src/libs/packages/store/store.package.ts
  apps/mobile/src/navigations/bottom-tabs-navigator/bottom-tabs-navigator.tsx
  apps/mobile/src/navigations/root/root.tsx
  apps/mobile/src/packages/tasks/tasks-api.ts
  apps/mobile/src/screens/tasks/libs/helpers/get-milliseconds-left/get-milliseconds-left.ts
  apps/mobile/src/screens/tasks/libs/helpers/helpers.ts
  apps/mobile/src/screens/tasks/tasks.tsx
  apps/mobile/src/slices/app/actions.ts
  apps/mobile/src/slices/app/app.slice.ts
  apps/mobile/src/slices/app/app.ts
  apps/mobile/src/slices/task/actions.ts
  apps/mobile/src/slices/task/task.slice.ts
  apps/mobile/src/slices/task/task.ts
  package-lock.json
Labels: mobile, root

#574 feat(frontend): popup on profile when user leaves bb-473
  apps/frontend/src/libs/constants/blocked-blocker-state.constant.ts
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-unsaved-changes-blocker/use-unsaved-changes-blocker.hook.ts
  apps/frontend/src/pages/profile/libs/components/update-password-form/update-password-form.tsx
  apps/frontend/src/pages/profile/libs/components/update-user-form/update-user-form.tsx
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/settings/settings.tsx
Labels: frontend

#592 fix(frontend): Add notes to tasks bb-419
  apps/frontend/src/libs/components/task-card/libs/components/notes/notes.tsx
  apps/frontend/src/libs/components/task-card/libs/components/notes/styles.module.css
  apps/frontend/src/libs/components/task-card/task-card.tsx
Labels: frontend

#600 fix(frontend): popup about unsaved changes appears after saving changes bb-465
  apps/frontend/src/pages/settings/settings.tsx
Labels: bug, frontend

#604 feat(frontend): responsiveness for wheel of balance (root) screen bb-586
  apps/frontend/src/libs/components/balance-wheel-chart/balance-wheel-chart.tsx
  apps/frontend/src/libs/components/balance-wheel-chart/styles.module.css
  apps/frontend/src/pages/chat/libs/components/initial-messages/initial-messages.tsx
  apps/frontend/src/pages/quiz/libs/components/balance-wheel/balance-wheel.tsx
  apps/frontend/src/pages/root/components/user-wheel/libs/components/scores-edit-modal/styles.module.css
  apps/frontend/src/pages/root/components/user-wheel/styles.module.css
  apps/frontend/src/pages/root/components/user-wheel/user-wheel.tsx
Labels: frontend

#589 feat(frontend): task explanations bb-340
  apps/frontend/src/libs/components/task-card/styles.module.css
  apps/frontend/src/modules/chat/chat-api.ts
  apps/frontend/src/modules/chat/slices/actions.ts
  apps/frontend/src/modules/chat/slices/chat.slice.ts
  apps/frontend/src/modules/chat/slices/chat.ts
  apps/frontend/src/pages/chat/libs/components/buttons-controller/buttons-controller.tsx
  apps/frontend/src/pages/chat/libs/components/buttons-controller/libs/components/suggestions-manipulation-options/libs/enums/suggestions-manipulation-button-label.enum.ts
  apps/frontend/src/pages/chat/libs/components/buttons-controller/libs/components/suggestions-manipulation-options/suggestions-manipulation-options.tsx
  apps/frontend/src/pages/chat/libs/enums/buttons-mode-option.enum.ts
  package-lock.json
  packages/shared/src/libs/helpers/process-messages/process-messages.helper.ts
  packages/shared/src/modules/chats/libs/enums/chat-message-type.enum.ts
Labels: frontend, root, shared

#615 fix(mobile): App occasionally closes unexpectedly after quiz analysis for new user or retake quiz for existing user bb-606
  apps/mobile/src/navigations/questions-stack/questions-stack.tsx
  apps/mobile/src/navigations/root/libs/hooks/use-conditional-screens.hook.ts
  apps/mobile/src/screens/chat/libs/components/initial-chat-message/initial-chat-message.tsx
  apps/mobile/src/screens/wheel-loading/wheel-loading.tsx
  apps/mobile/src/screens/wheel/wheel.tsx
Labels: bug, mobile

#577 feat(mobile): task management bb-445
  apps/mobile/src/assets/images/background.png
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/page-switcher/page-switcher.tsx
  apps/mobile/src/libs/components/page-switcher/style.ts
  apps/mobile/src/libs/components/task-card/styles.ts
  apps/mobile/src/libs/helpers/get-active-and-expired-tasks/get-active-and-expired-tasks.helper.ts
  apps/mobile/src/libs/helpers/helpers.ts
  apps/mobile/src/libs/hooks/hooks.ts
  apps/mobile/src/screens/tasks/libs/components/components.tsx
  apps/mobile/src/screens/tasks/libs/components/empty-tasks-header/empty-tasks-header.tsx
  apps/mobile/src/screens/tasks/libs/components/empty-tasks-header/styles.ts
  apps/mobile/src/screens/tasks/libs/enums/enums.ts
  apps/mobile/src/screens/tasks/libs/enums/tasks-mode.enum.ts
  apps/mobile/src/screens/tasks/libs/helpers/get-milliseconds-left/get-milliseconds-left.ts
  apps/mobile/src/screens/tasks/libs/helpers/helpers.ts
  apps/mobile/src/screens/tasks/styles.ts
  apps/mobile/src/screens/tasks/tasks.tsx
  apps/mobile/src/slices/task/task.slice.ts
Labels: mobile
