Repository BinaryStudioAcademy/bsa-2024-bebalance, pull requests merged in 2024-08, with the labels that each got.

#31 feat: add templates for tasks and bug reports bb-30
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: qa

#33 build: add pr labeler bb-32
  .github/labeler.yml
  .github/workflows/ci-pr.yml
Labels: workflows

#36 feat: colors enum bb-23
  apps/mobile/src/libs/components/button/styles.ts
  apps/mobile/src/libs/components/input/styles.ts
  apps/mobile/src/libs/enums/app/app.ts
  apps/mobile/src/libs/enums/app/base-color.enum.ts
  apps/mobile/src/libs/enums/app/gradient-color.enum.ts
  apps/mobile/src/libs/enums/enums.ts
Labels: mobile

#35 feat: global styles bb-17
  .ls-lint.yml
  apps/mobile/src/libs/components/app/app.tsx
  apps/mobile/src/libs/components/app/styles.ts
  apps/mobile/src/libs/styles/global-styles/flex.ts
  apps/mobile/src/libs/styles/global-styles/gap.ts
  apps/mobile/src/libs/styles/global-styles/global-styles.ts
  apps/mobile/src/libs/styles/global-styles/margin.ts
  apps/mobile/src/libs/styles/global-styles/padding.ts
  apps/mobile/src/libs/styles/global-styles/spacing.ts
  apps/mobile/src/libs/styles/styles.ts
Labels: mobile, root

#39 feat: protected routing bb-12
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/modules/auth/slices/auth.slice.ts
Labels: frontend

#45 feat: add loader bb-15
  apps/frontend/src/assets/css/styles.css
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/loader/loader.tsx
  apps/frontend/src/libs/components/loader/styles.module.css
Labels: frontend

#48 feat: add screen wrapper component bb-25
  apps/mobile/src/libs/components/app/app.tsx
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/screen-wrapper/screen-wrapper.tsx
  apps/mobile/src/screens/auth/auth.tsx
Labels: mobile

#38 feat: Custom fonts and Text component bb-18
  apps/mobile/android/app/src/main/assets/fonts/Nunito-Bold.ttf
  apps/mobile/android/app/src/main/assets/fonts/Nunito-ExtraBold.ttf
  apps/mobile/android/app/src/main/assets/fonts/Nunito-Medium.ttf
  apps/mobile/android/app/src/main/assets/fonts/Nunito-Regular.ttf
  apps/mobile/android/app/src/main/assets/fonts/Nunito-SemiBold.ttf
  apps/mobile/android/link-assets-manifest.json
  apps/mobile/ios/bebalance.xcodeproj/project.pbxproj
  apps/mobile/ios/bebalance/Info.plist
  apps/mobile/ios/link-assets-manifest.json
  apps/mobile/react-native.config.js
  apps/mobile/src/assets/fonts/Nunito-Bold.ttf
  apps/mobile/src/assets/fonts/Nunito-ExtraBold.ttf
  apps/mobile/src/assets/fonts/Nunito-Medium.ttf
  apps/mobile/src/assets/fonts/Nunito-Regular.ttf
  apps/mobile/src/assets/fonts/Nunito-SemiBold.ttf
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/text/libs/maps/font-weight-to-family-map.ts
  apps/mobile/src/libs/components/text/libs/maps/maps.ts
  apps/mobile/src/libs/components/text/libs/maps/preset-to-style-map.ts
  apps/mobile/src/libs/components/text/libs/maps/size-to-style-map.ts
  apps/mobile/src/libs/components/text/text.tsx
  knip.config.ts
Labels: mobile, root

#62 feat: add continuous delivery bb-3
  .github/workflows/cd.yml
  .release-please-manifest.json
  apps/backend/src/libs/modules/database/base-database.module.ts
  apps/backend/src/libs/modules/server-application/base-server-application-api.ts
  package-lock.json
  package.json
  packages/shared/src/libs/enums/app-environment.enum.ts
  prepare-build.sh
  release-please-config.json
Labels: backend, workflows, root, shared

#53 feat: get authenticated user bb-14
  .prettierignore
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
Labels: frontend, root, shared

#73 build: update pr linting regex bb-3
  dangerfile.ts
  project.config.ts
Labels: root

#46 feat: sign up bb-8
  apps/backend/package.json
  apps/backend/src/db/migrations/20240818081459_add_user_details_table.ts
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/enums/relation-name.enum.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/encrypt/base-encrypt.module.ts
  apps/backend/src/libs/modules/encrypt/encrypt.ts
  apps/backend/src/libs/modules/encrypt/libs/constants/constants.ts
  apps/backend/src/libs/modules/encrypt/libs/types/encrypt.type.ts
  apps/backend/src/libs/modules/encrypt/libs/types/types.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/libs/enums/enums.ts
  apps/backend/src/modules/auth/libs/exceptions/exceptions.ts
  apps/backend/src/modules/users/libs/enums/enums.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/user-details.model.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  apps/mobile/src/screens/auth/components/sign-up-form/libs/constants.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/exceptions/auth-error/auth-error.exception.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-get-all-item-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-sign-up-request-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-sign-up-response-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, backend, mobile, root, shared

#58 feat: loader component bb-19
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/loader-wrapper/loader-wrapper.tsx
  apps/mobile/src/screens/auth/auth.tsx
Labels: mobile

#76 build: remove postinstall script from shared package bb-3
  packages/shared/package.json
  project.config.ts
Labels: root, shared

#82 feat: mobile linter rule adjust bb-2
  apps/mobile/eslint.config.mjs
Labels: mobile

#56 feat: add Not Found page bb-51
  apps/frontend/package.json
  apps/frontend/src/assets/css/scaffolding.css
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/circle-group-large.svg
  apps/frontend/src/assets/img/circle-group-medium.svg
  apps/frontend/src/assets/img/circle-group-small.svg
  apps/frontend/src/assets/img/ellipse.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/link/libs/types/link.type.ts
  apps/frontend/src/libs/components/link/libs/types/types.ts
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/components/link/styles.module.css
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/helpers/get-valid-class-names/get-valid-class-names.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/pages/not-found/not-found.tsx
  apps/frontend/src/pages/not-found/styles.module.css
  package-lock.json
Labels: frontend, root

#93 feat: added color variables to varibles.css bb-52
  apps/frontend/src/assets/css/variables.css
Labels: frontend

#49 feat: Sign In bb-7
  apps/frontend/src/assets/img/ripple-effect-bg.svg
  apps/frontend/src/assets/img/ripple-effect-bg2.svg
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/libs/constants.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/auth/libs/enums/auth-api-path.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-sign-in-request-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-sign-in-response-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, shared

#37 feat: implement sign-in functionality bb-6
  apps/backend/package.json
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/modules/encrypt/base-encrypt.module.ts
  apps/backend/src/libs/modules/encrypt/libs/types/encrypt.type.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/auth.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  apps/mobile/react-native.config.js
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/libs/exceptions/auth-error/auth-error.exception.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/users.ts
Labels: backend, mobile, root, shared

#84 feat: add background component bb-24
  apps/mobile/package.json
  apps/mobile/src/assets/images/bottom-circle.png
  apps/mobile/src/assets/images/top-circle.png
  apps/mobile/src/libs/components/background-wrapper/background-wrapper.tsx
  apps/mobile/src/libs/components/background-wrapper/libs/components/planet/planet.tsx
  apps/mobile/src/libs/components/background-wrapper/libs/components/planet/styles.ts
  apps/mobile/src/libs/components/background-wrapper/libs/maps/color-to-gradient-colors.ts
  apps/mobile/src/libs/components/background-wrapper/libs/maps/direction-to-gradient.ts
  apps/mobile/src/libs/components/background-wrapper/libs/maps/maps.ts
  apps/mobile/src/libs/components/background-wrapper/libs/maps/size-to-styles.ts
  apps/mobile/src/libs/components/background-wrapper/styles.ts
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/types/types.ts
  apps/mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  package-lock.json
Labels: mobile, root

#57 feat: error handling bb-16
  apps/frontend/package.json
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/notification/notification.tsx
  apps/frontend/src/libs/modules/notification/libs/constants/constants.ts
  apps/frontend/src/libs/modules/notification/libs/constants/default-error-message.constants.ts
  apps/frontend/src/libs/modules/notification/notification.module.ts
  apps/frontend/src/libs/modules/notification/notification.ts
  apps/frontend/src/libs/modules/store/handle-error.middleware.ts
  apps/frontend/src/libs/modules/store/libs/types/middleware-error.type.ts
  apps/frontend/src/libs/modules/store/libs/types/types.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  package-lock.json
Labels: frontend, root

#40 feat: authorization token (JWT) bb-10
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/token/base-token.module.ts
  apps/backend/src/libs/modules/token/token.ts
  apps/backend/src/libs/types/types.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/auth.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/types/token-payload.type.ts
  packages/shared/src/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-sign-in-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-sign-up-response-dto.type.ts
Labels: frontend, backend, root, shared, conflicts, env

#100 feat(backend): add categories migration bb-34
  apps/backend/src/db/migrations/20240821111749_create_categories_table.ts
  apps/backend/src/db/migrations/20240821131722_add_categories_data.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
Labels: backend

#54 feat: Button component bb-26
  apps/mobile/package.json
  apps/mobile/src/libs/components/button/button.tsx
  apps/mobile/src/libs/components/button/styles.ts
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/gradient-text/gradient-text.tsx
  apps/mobile/src/libs/components/gradient-text/styles.ts
  apps/mobile/src/libs/components/text/libs/maps/preset-to-style-map.ts
  apps/mobile/src/libs/components/text/libs/maps/size-to-style-map.ts
  apps/mobile/src/libs/components/text/text.tsx
  apps/mobile/src/libs/types/types.ts
  package-lock.json
Labels: mobile, root

#78 feat: sign in screen - mobile responsiveness bb-61
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/pages/auth/components/sign-in-form/libs/images/ripple-effect-bg.svg
  apps/frontend/src/pages/auth/components/sign-in-form/libs/images/ripple-effect-bg2.svg
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
Labels: frontend

#50 feat: impl protected routing bb-11
  apps/backend/package.json
  apps/backend/src/libs/modules/http/http.ts
  apps/backend/src/libs/modules/http/libs/enums/enums.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/constants/constants.ts
  apps/backend/src/libs/modules/server-application/libs/enums/enums.ts
  apps/backend/src/libs/modules/token/token.ts
  apps/backend/src/libs/plugins/authorization-plugin/authorization-plugin.ts
  apps/backend/src/libs/plugins/authorization-plugin/libs/types/authorization-plugin.d.ts
  apps/backend/src/libs/plugins/libs/enums/enums.ts
  apps/backend/src/libs/plugins/libs/enums/server-hooks.enum.ts
  apps/backend/src/libs/plugins/plugins.ts
  apps/backend/src/libs/types/repository.type.ts
  apps/backend/src/libs/types/service.type.ts
  apps/backend/src/libs/types/types.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/auth.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  package-lock.json
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/libs/exceptions/auth-error/auth-error.exception.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
Labels: backend, root, shared, conflicts

#97 feat: Quiz introduction screen bb-87
  apps/frontend/src/assets/img/life-balance-wheel.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/quiz/quiz.tsx
  apps/frontend/src/pages/quiz/styles.module.css
  package-lock.json
Labels: frontend, root

#108 fix(backend): fix unresolved auth plugin and invalid white routes bb-11
  apps/backend/src/libs/plugins/authorization-plugin/authorization-plugin.ts
Labels: backend

#47 feat: get authenticated user bb-13
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/users/users.ts
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/modules/auth/libs/enums/auth-api-path.enum.ts
Labels: backend, shared

#55 feat: Sign Up bb-9
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/auth-illustration-left.svg
  apps/frontend/src/assets/img/auth-illustration-right.svg
  apps/frontend/src/assets/img/react.svg
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/components/link/styles.module.css
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/style.module.css
  apps/frontend/src/pages/auth/style.module.css
  apps/frontend/src/pages/not-found/not-found.tsx
  apps/frontend/src/pages/quiz/quiz.tsx
  package-lock.json
Labels: frontend, root

#116 fix(backend): add missing "/api" prefix for white route check bb-11
  apps/backend/src/libs/modules/server-application/libs/constants/constants.ts
  apps/backend/src/libs/plugins/authorization-plugin/authorization-plugin.ts
  apps/backend/src/libs/plugins/authorization-plugin/libs/helpers/check-is-white-route.helper.ts
  apps/backend/src/libs/plugins/authorization-plugin/libs/helpers/helpers.ts
Labels: backend

#121 fix(backend): fix conflicted protected routes bb-11
  apps/backend/src/libs/plugins/authorization-plugin/libs/helpers/check-is-white-route.helper.ts
Labels: bug, backend

#130 fix(backend): fix invalid regex on white route helper bb-11
  apps/backend/src/libs/plugins/authorization-plugin/libs/helpers/check-is-white-route.helper.ts
  package-lock.json
Labels: bug, backend, root

#123 fix(frontend): consistant sign in naming web bb-126
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: frontend

#141 fix(backend): Authenticated user endpoint fails to return information about the user bb-137
  apps/backend/src/modules/users/user.repository.ts
Labels: backend

#105 feat(mobile): error handling bb-77
  apps/mobile/package.json
  apps/mobile/src/libs/components/app/app.tsx
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/toast-message/toast-message.tsx
  apps/mobile/src/libs/enums/app/app.ts
  apps/mobile/src/libs/enums/app/toast-message-title.enum.ts
  apps/mobile/src/libs/enums/app/toast-message-type.enum.ts
  apps/mobile/src/libs/enums/enums.ts
  apps/mobile/src/libs/packages/store/middleware/handle-error.middleware.ts
  apps/mobile/src/libs/packages/store/store.package.ts
  apps/mobile/src/libs/packages/toast-message/libs/constants/constants.ts
  apps/mobile/src/libs/packages/toast-message/libs/constants/default-error-message.ts
  apps/mobile/src/libs/packages/toast-message/libs/maps/maps.ts
  apps/mobile/src/libs/packages/toast-message/libs/maps/type-to-title.map.ts
  apps/mobile/src/libs/packages/toast-message/toast-message.package.ts
  apps/mobile/src/libs/packages/toast-message/toast-message.ts
Labels: mobile

#113 feat(frontend): Apply global font bb-104
  apps/frontend/src/assets/css/fonts.css
  apps/frontend/src/assets/css/scaffolding.css
  apps/frontend/src/assets/css/styles.css
  apps/frontend/src/assets/fonts/Nunito.ttf
  package-lock.json
Labels: frontend, root

#101 feat(mobile): get-authenticated-user bb-28
  apps/mobile/src/packages/auth/auth-api.ts
  apps/mobile/src/packages/users/libs/types/types.ts
  apps/mobile/src/packages/users/users.ts
  apps/mobile/src/screens/auth/auth.tsx
  apps/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  apps/mobile/src/slices/auth/actions.ts
  apps/mobile/src/slices/auth/auth.slice.ts
  apps/mobile/src/slices/auth/auth.ts
  apps/mobile/src/slices/users/users.slice.ts
Labels: mobile

#140 feat(frontend): add quiz question component bb-88
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/quiz-question/quiz-question.tsx
  apps/frontend/src/libs/components/quiz-question/styles.module.css
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/quiz/libs/components/quiz-form/quiz-form.tsx
Labels: frontend

#110 feat(backend): add quiz questions to db bb-59
  apps/backend/src/db/migrations/20240821161628_add_quiz_questions_table.ts
  apps/backend/src/db/migrations/20240821161830_add_quiz_questions_data.ts
  apps/backend/src/db/migrations/20240822004833_add_quiz_answers_table.ts
  apps/backend/src/db/migrations/20240822055434_add_quiz_answers_data.ts
Labels: backend

#124 feat(frontend): quiz introduction screen mobile responsiveness bb-99
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/pages/quiz/quiz.tsx
  apps/frontend/src/pages/quiz/styles.module.css
Labels: frontend

#157 fix(frontend): different case in sign in bb-150
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Labels: frontend

#120 feat(frontend/shared): header component bb-91
  apps/frontend/src/assets/img/default-avatar.png
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/types/types.ts
Labels: frontend

#159 fix(frontend): background in signIn/signUp bb-148
  apps/frontend/src/assets/img/auth-illustration-left.svg
Labels: frontend

#163 docs(backend): sign up bb-8
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/users/user.controller.ts
Labels: backend

#98 feat(mobile): protected routing bb-29
  apps/mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  apps/mobile/src/libs/hooks/hooks.ts
  apps/mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  apps/mobile/src/navigations/root/root.tsx
  apps/mobile/src/screens/auth/auth.tsx
  apps/mobile/src/screens/welcome-screen/welcome-screen.tsx
Labels: mobile

#170 feat(mobile): removed landscape mode support bb-169
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/ios/bebalance/Info.plist
Labels: mobile

#117 feat(backend/frontend): clean up bb-69
  apps/backend/package.json
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.service.ts
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/modules/users/users.ts
  apps/mobile/src/packages/users/libs/types/types.ts
  apps/mobile/src/packages/users/users.ts
  apps/mobile/src/slices/users/users.slice.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-get-all-item-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-get-all-response-dto.type.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, backend, mobile, root, shared

#165 feat(frontend): responsive header bb-107
  apps/frontend/src/libs/components/header/styles.module.css
Labels: frontend

#139 feat(mobile): sign-in bb-20
  apps/mobile/src/libs/components/background-wrapper/libs/maps/size-to-styles.ts
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/input/input.tsx
  apps/mobile/src/libs/components/input/styles.ts
  apps/mobile/src/libs/components/link/link.tsx
  apps/mobile/src/libs/components/link/styles.ts
  apps/mobile/src/libs/components/text/libs/maps/preset-to-style-map.ts
  apps/mobile/src/libs/enums/app/base-color.enum.ts
  apps/mobile/src/libs/helpers/check-platform/check-platform.ts
  apps/mobile/src/libs/helpers/helpers.ts
  apps/mobile/src/libs/styles/global-styles/flex.ts
  apps/mobile/src/packages/auth/auth-api.ts
  apps/mobile/src/packages/users/libs/types/types.ts
  apps/mobile/src/packages/users/libs/validation-schemas/validation-schemas.ts
  apps/mobile/src/packages/users/users.ts
  apps/mobile/src/screens/auth/auth.tsx
  apps/mobile/src/screens/auth/components/sign-in-form/libs/constants.ts
  apps/mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  apps/mobile/src/screens/auth/styles.ts
  apps/mobile/src/slices/auth/actions.ts
  apps/mobile/src/slices/auth/auth.slice.ts
  apps/mobile/src/slices/auth/auth.ts
Labels: mobile

#152 feat(backend): onboarding questions and answers bb-133
  apps/backend/src/db/migrations/20240823115158_create_onboarding_questions_table.ts
  apps/backend/src/db/migrations/20240823121159_add_onboarding_questions_data.ts
  apps/backend/src/db/migrations/20240823123910_create_onboarding_answers_table.ts
  apps/backend/src/db/migrations/20240823125503_add_onboarding_answers_data.ts
Labels: backend

#160 fix(frontend): fix user is not saved in redux store after sign in/sign up bb-118
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
Labels: bug, frontend

#178 fix(backend): add missing auth docs for `/users` endpoint bb-155
  apps/backend/package.json
  apps/backend/src/modules/users/user.controller.ts
  package-lock.json
Labels: documentation, backend, root

#186 fix(frontend): move get authenticated user action to auth redux store bb-171
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
  apps/frontend/src/modules/users/libs/enums/enums.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/modules/users/users.ts
Labels: frontend

#115 feat(frontend): sidebar component bb-90
  apps/frontend/package.json
  apps/frontend/packages.d.ts
  apps/frontend/src/assets/img/wheel-of-balance-active.svg
  apps/frontend/src/assets/img/wheel-of-balance-inactive.svg
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/icon/icon.tsx
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/icon/libs/maps/maps.ts
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/components/link/styles.module.css
  apps/frontend/src/libs/components/sidebar/libs/components/components.ts
  apps/frontend/src/libs/components/sidebar/libs/components/sidebar-link/sidebar-link.tsx
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/sidebar-items.constant.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/libs/types/sidebar-item.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/quiz/quiz.tsx
  apps/frontend/src/vite-env.d.ts
  apps/frontend/vite.config.ts
  package-lock.json
  packages.d.ts
Labels: frontend, root

#184 feat(frontend): add analyzing screen bb-135
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/circle-group-large.svg
  apps/frontend/src/assets/img/circle-group-medium.svg
  apps/frontend/src/assets/img/circle-group-small.svg
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/pages/not-found/not-found.tsx
  apps/frontend/src/pages/quiz/libs/components/analyzing/analyzing.tsx
  apps/frontend/src/pages/quiz/libs/components/analyzing/styles.module.css
  apps/frontend/src/pages/quiz/libs/components/components.ts
  apps/frontend/src/pages/quiz/libs/components/introduction/introduction.tsx
  apps/frontend/src/pages/quiz/libs/components/introduction/styles.module.css
  apps/frontend/src/pages/quiz/libs/constants/constants.ts
  apps/frontend/src/pages/quiz/libs/enums/enums.ts
  apps/frontend/src/pages/quiz/libs/enums/step.ts
  apps/frontend/src/pages/quiz/quiz.tsx
  package-lock.json
Labels: frontend, root

#151 feat(frontend): sign-up-mobile-responsiveness bb-60
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/style.module.css
  apps/frontend/src/pages/auth/style.module.css
Labels: frontend

#143 fix(frontend): signIn signUp screens markdown bb-129
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/libs/images/ripple-effect-bg.svg
  apps/frontend/src/pages/auth/components/sign-in-form/libs/images/ripple-effect-bg2.svg
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/style.module.css
  apps/frontend/src/pages/auth/libs/components/components.ts
  apps/frontend/src/pages/auth/libs/components/sign-in-form/libs/constants.ts
  apps/frontend/src/pages/auth/libs/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/libs/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/libs/components/sign-up-form/libs/constants.ts
  apps/frontend/src/pages/auth/libs/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/libs/components/sign-up-form/styles.module.css
  apps/frontend/src/pages/auth/styles.module.css
Labels: frontend

#168 fix(frontend/shared): add confirm password field on sign up page bb-144
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/auth/libs/components/sign-up-form/libs/constants.ts
  apps/frontend/src/pages/auth/libs/components/sign-up-form/libs/enums/enums.ts
  apps/frontend/src/pages/auth/libs/components/sign-up-form/sign-up-form.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/auth/auth.ts
  packages/shared/src/modules/auth/libs/enums/confirm-password-custom-validation.enum.ts
  packages/shared/src/modules/auth/libs/enums/enums.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-sign-up-form-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, shared

#200 fix: update breakpoint on quiz introduction screen bb-199
  apps/frontend/src/pages/quiz/libs/components/introduction/styles.module.css
Labels: frontend

#201 feat(frontend): create auth wrapper components bb-189
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/auth-wrapper/auth-wrapper.tsx
  apps/frontend/src/libs/components/auth-wrapper/style.module.css
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
Labels: frontend

#164 fix: add toggle eye in password bb-145
  apps/frontend/src/assets/img/crossed-eye.svg
  apps/frontend/src/assets/img/eye.svg
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/auth/libs/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/libs/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/quiz/libs/components/analyzing/analyzing.tsx
  apps/frontend/src/pages/quiz/libs/components/introduction/introduction.tsx
Labels: frontend

#195 feat(frontend): get authenticated user saved on store bb-14
  apps/frontend/src/libs/components/app/app.tsx
Labels: frontend

#192 feat(frontend): Sidebar component mobile responsiveness bb-106
  apps/frontend/src/assets/img/close.svg
  apps/frontend/src/assets/img/menu.svg
  apps/frontend/src/libs/components/auth-wrapper/auth-wrapper.tsx
  apps/frontend/src/libs/components/auth-wrapper/style.module.css
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/types/icon-name.type.ts
Labels: frontend

#206 feat(mobile): Welcome screen bb-183
  apps/mobile/src/libs/components/button/button.tsx
  apps/mobile/src/libs/enums/app/base-color.enum.ts
  apps/mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  apps/mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  apps/mobile/src/navigations/root/root.tsx
  apps/mobile/src/screens/welcome/styles.ts
  apps/mobile/src/screens/welcome/welcome.tsx
Labels: mobile

#213 feat(frontend): analyzing screen mobile responsiveness bb-136
  apps/frontend/src/assets/img/auth-illustration-left.svg
  apps/frontend/src/assets/img/auth-illustration-right.svg
  apps/frontend/src/assets/img/blue-circle.svg
  apps/frontend/src/assets/img/green-circle.svg
  apps/frontend/src/assets/img/pink-circle.svg
  apps/frontend/src/pages/quiz/libs/components/analyzing/styles.module.css
Labels: frontend

#217 docs: added db schema to readme file bb-156
  readme.md
Labels: documentation, root

#177 feat(mobile): add sign up bb-21
  apps/mobile/android/app/build.gradle
  apps/mobile/package.json
  apps/mobile/src/libs/components/background-wrapper/background-wrapper.tsx
  apps/mobile/src/libs/components/button/button.tsx
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/icon-button/icon-button.tsx
  apps/mobile/src/libs/components/icon/icon.tsx
  apps/mobile/src/libs/components/input/input.tsx
  apps/mobile/src/libs/components/input/styles.ts
  apps/mobile/src/libs/components/planet/libs/maps/color-to-gradient-colors.ts
  apps/mobile/src/libs/components/planet/libs/maps/direction-to-gradient.ts
  apps/mobile/src/libs/components/planet/libs/maps/maps.ts
  apps/mobile/src/libs/components/planet/libs/maps/size-to-styles.ts
  apps/mobile/src/libs/components/planet/planet.tsx
  apps/mobile/src/libs/components/planet/styles.ts
  apps/mobile/src/libs/enums/app/angle-gradient.enum.ts
  apps/mobile/src/libs/enums/app/app.ts
  apps/mobile/src/libs/enums/enums.ts
  apps/mobile/src/libs/helpers/get-security-input-icon-name/get-security-input-icon-name.ts
  apps/mobile/src/libs/helpers/helpers.ts
  apps/mobile/src/libs/hooks/hooks.ts
  apps/mobile/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/mobile/src/libs/types/icon/icon-name.type.ts
  apps/mobile/src/libs/types/icon/icon.ts
  apps/mobile/src/libs/types/types.ts
  apps/mobile/src/packages/users/libs/enums/enums.ts
  apps/mobile/src/packages/users/libs/types/types.ts
  apps/mobile/src/packages/users/users.ts
  apps/mobile/src/screens/auth/auth.tsx
  apps/mobile/src/screens/auth/components/sign-up-form/libs/constants.ts
  apps/mobile/src/screens/auth/components/sign-up-form/libs/enums/enums.ts
  apps/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  apps/mobile/src/screens/auth/styles.ts
  package-lock.json
Labels: mobile, root

#223 feat(frontend): Sign in bb-7
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/styles.module.css
Labels: frontend

#214 feat(mobile): add bottom tab navigator bb-128
  apps/mobile/package.json
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/components/gradient-tab-icon/gradient-tab-icon.tsx
  apps/mobile/src/libs/components/icon/gradient-icon.tsx
  apps/mobile/src/libs/components/text/libs/maps/preset-to-style-map.ts
  apps/mobile/src/libs/components/text/libs/maps/size-to-style-map.ts
  apps/mobile/src/libs/enums/enums.ts
  apps/mobile/src/libs/enums/navigation/bottom-tab-screen-name.enum.ts
  apps/mobile/src/libs/enums/navigation/navigation.ts
  apps/mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  apps/mobile/src/libs/types/navigation/bottom-tab-navigation-parameter-list.type.ts
  apps/mobile/src/libs/types/navigation/navigation.ts
  apps/mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  apps/mobile/src/libs/types/types.ts
  apps/mobile/src/navigations/bottom-tabs-navigator/bottom-tabs-navigator.tsx
  apps/mobile/src/navigations/root/root.tsx
  apps/mobile/src/screens/chat/chat.tsx
  apps/mobile/src/screens/settings/settings.tsx
  apps/mobile/src/screens/tasks/tasks.tsx
  apps/mobile/src/screens/welcome/welcome.tsx
  apps/mobile/src/screens/wheel/wheel.tsx
Labels: mobile

#228 feat(mobile): sign in form bb-20
  apps/mobile/src/libs/helpers/get-security-input-icon-name/get-security-input-icon-name.helper.ts
  apps/mobile/src/libs/helpers/helpers.ts
  apps/mobile/src/screens/auth/auth.tsx
  apps/mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  apps/mobile/src/screens/auth/styles.ts
Labels: mobile

#229 fix(frontend): fix passwords don't match error even when passwords the same bb-226
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/pages/auth/libs/components/sign-up-form/sign-up-form.tsx
Labels: frontend

#238 feat(mobile): added configuration to make apk builds bb-236
  apps/mobile/.gitignore
  apps/mobile/android/app/build.gradle
  apps/mobile/android/app/src/main/AndroidManifest.xml
Labels: mobile

#235 fix(frontend): wrap quiz component into protected route bb-234
  apps/frontend/src/index.tsx
Labels: invalid, frontend

#244 fix(mobile): quiz entry screen bb-80
  apps/mobile/src/screens/quiz-entry/quiz-entry.tsx
Labels: mobile

#221 feat(mobile): checkbox component bb-174
  apps/mobile/package.json
  apps/mobile/src/libs/components/checkbox/checkbox.tsx
  apps/mobile/src/libs/components/checkbox/styles.ts
  apps/mobile/src/libs/components/components.tsx
  apps/mobile/src/libs/enums/app/base-color.enum.ts
  apps/mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  apps/mobile/src/libs/styles/global-styles/global-styles.ts
  apps/mobile/src/libs/styles/global-styles/visually-hidden.ts
  apps/mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  apps/mobile/src/libs/types/types.ts
  apps/mobile/src/screens/chat/chat.tsx
  apps/mobile/src/screens/quiz-entry/quiz-entry.tsx
  apps/mobile/src/screens/welcome/welcome.tsx
  package-lock.json
Labels: mobile, root

#231 feat(frontend): analyzing screen mobile responsiveness bb-136
  apps/frontend/src/assets/img/ripple-effect-bg3.svg
  apps/frontend/src/assets/img/ripple-effect-bg4.svg
  apps/frontend/src/pages/quiz/libs/components/analyzing/styles.module.css
Labels: frontend

#227 feat(backend/shared): save onboarding quiz answers to DB bb-167
  apps/backend/src/db/migrations/20240827170622_onboarding_answers_to_users_table.ts
  apps/backend/src/libs/enums/relation-name.enum.ts
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/libs/types/repository.type.ts
  apps/backend/src/libs/types/service.type.ts
  apps/backend/src/modules/onboarding/libs/constants/constants.ts
  apps/backend/src/modules/onboarding/libs/enums/enums.ts
  apps/backend/src/modules/onboarding/libs/exceptions/exceptions.ts
  apps/backend/src/modules/onboarding/libs/types/count-result.type.ts
  apps/backend/src/modules/onboarding/libs/types/types.ts
  apps/backend/src/modules/onboarding/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/onboarding/onboarding-answer.entity.ts
  apps/backend/src/modules/onboarding/onboarding-answer.model.ts
  apps/backend/src/modules/onboarding/onboarding-question.model.ts
  apps/backend/src/modules/onboarding/onboarding.controller.ts
  apps/backend/src/modules/onboarding/onboarding.repository.ts
  apps/backend/src/modules/onboarding/onboarding.service.ts
  apps/backend/src/modules/onboarding/onboarding.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/users.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/onboarding-error/onboarding-error.exception.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/onboarding/libs/enums/enums.ts
  packages/shared/src/modules/onboarding/libs/enums/onboarding-api-path.enum.ts
  packages/shared/src/modules/onboarding/libs/enums/onboarding-validation-message.enum.ts
  packages/shared/src/modules/onboarding/libs/types/onboarding-answer-dto.type.ts
  packages/shared/src/modules/onboarding/libs/types/onboarding-answer-request-body-dto.type.ts
  packages/shared/src/modules/onboarding/libs/types/onboarding-answer-request-dto.type.ts
  packages/shared/src/modules/onboarding/libs/types/onboarding-answer-response-dto.type.ts
  packages/shared/src/modules/onboarding/libs/types/types.ts
  packages/shared/src/modules/onboarding/libs/validation-schemas/onboarding-answers.validation-schema.ts
  packages/shared/src/modules/onboarding/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/onboarding/onboarding.ts
  readme.md
Labels: backend, root, shared

#212 fix(backend): added another answer to onboarding answers bb-133
  apps/backend/package.json
  apps/backend/src/db/migrations/20240828175036_add_onboarding_answer.ts
Labels: backend

#247 fix(frontend): fix problem with loading pages bb-246
  apps/frontend/src/libs/components/app/app.tsx
Labels: frontend

#248 fix(frontend): "You are unauthorized to access the requested resource." error message is shown on the Sign-In/ Sign-Up page bb-222
  apps/frontend/src/modules/auth/slices/actions.ts
Labels: frontend

#218 feat(frontend): sign up bb-9
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/libs/components/sign-up-form/styles.module.css
  apps/frontend/src/pages/auth/styles.module.css
Labels: frontend

#262 fix(mobile): an error message appears after tap on "create an account" link bb-219
  apps/mobile/src/screens/auth/auth.tsx
  apps/mobile/src/screens/tasks/tasks.tsx
  apps/mobile/src/slices/auth/actions.ts
  package-lock.json
Labels: mobile, root
